{% extends "layout.html" %} {% block content %}
<!-- <div class="container-fluid mt-4" id="main-window"> -->

<div class="card" id="card-form" hidden>
  <div class="card-body">
    <form role="form" class="form-horizontal row" id="frm">
      <div class="row">
        <h4 id="formTitle"></h4>
      </div>
      <!-- KODE -->
      <div class="form-group row">
        <label for="input_kode" class="col-2 col-form-label text-end"
          >Kode<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control"
            id="input_kode"
            autocomplete="off"
            maxlength="5"
            placeholder="Input kode"
          />
        </div>
      </div>
      <!-- KODE END -->
      <!-- NAMA -->
      <div class="form-group row">
        <label for="input_nama" class="col-2 col-form-label text-end"
          >Nama<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="input_nama"
            autocomplete="off"
            placeholder="Input nama mata kuliah"
          />
        </div>
      </div>
      <!-- NAMA END -->
      <!-- KELOMPOK -->
      <div class="form-group row">
        <label for="input_kelompok" class="col-2 col-form-label text-end"
          >Kelompok&ensp;</label
        >
        <div class="col">
          <select class="form-select" id="input_kelompok">
            <option value="">-- Pilih Kategori Mata Kuliah --</option>
            {% for kelompok in session['user']['kelompok_matkul'] %}
            <option value="{{ kelompok }}">{{ kelompok }}</option>
            {% endfor %}
            <option value="tambah_baru">+ Tambah Kelompok Baru</option>
          </select>

          <!-- Input untuk kelompok baru (disembunyikan awalnya) -->
          <div
            class="input-group mt-2"
            style="display: none"
            id="kelompok_baru_group"
          >
            <input
              type="text"
              id="kelompok_baru"
              class="form-control"
              placeholder="Masukkan nama kelompok baru"
              autocomplete="off"
            />
            <button type="button" id="simpan_kelompok" class="btn btn-primary">
              Simpan
            </button>
          </div>
        </div>
      </div>
      <!-- KELOMPOK END -->
      <!-- PROGRAM STUDI -->
      <div class="form-group row">
        <label for="input_prodi" class="col-2 col-form-label text-end"
          >Program Studi<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col">
          <select class="form-select" id="input_prodi">
            <option value="">-- Pilih Program Studi --</option>
            {% for prodi in list_prodi %}
            <option value="{{ prodi }}">{{ prodi }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- PROGRAM STUDI -->
      <!-- TIPE KELAS -->
      <div class="form-group row">
        <label for="cbTipeKelas" class="col-2 col-form-label text-end"
          >Tipe Kelas<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col d-flex align-items-center">
          <div class="radio-group">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelas"
                id="TEORI"
                value="TEORI"
              />
              <label for="TEORI" class="form-check-label">Teori</label>
            </div>
          </div>
          <div class="radio-group">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelas"
                id="PRAKTIKUM"
                value="PRAKTIKUM"
              />
              <label for="PRAKTIKUM" class="form-check-label">Praktikum</label>
            </div>
          </div>
        </div>
      </div>
      <!-- TIPE KELAS END -->
      <!-- SKS -->
      <div class="form-group row">
        <label for="input_sksA" class="col-2 col-form-label text-end"
          >SKS Akademik<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly"
            id="input_sksA"
            autocomplete="off"
            maxlength="2"
            placeholder="Input SKS akademik"
          />
        </div>
        <label for="input_sksB" class="col-2 col-form-label text-end"
          >SKS Bayar<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly"
            id="input_sksB"
            autocomplete="off"
            maxlength="2"
            placeholder="Input SKS bayar"
          />
        </div>
      </div>
      <!-- SKS END -->
      <!-- BIDANG -->
      <div class="form-group row">
        <label for="input_bidang" class="col-2 col-form-label text-end"
          >Bidang&ensp;</label
        >
        <div class="col input-group">
          <input
            type="text"
            class="form-control"
            id="input_bidang"
            autocomplete="off"
            placeholder="Input data bidang matkul"
          />
          <button
            type="button"
            class="btn btn-danger"
            onclick="clearBadge('field_bidang', 'list_bidang')"
          >
            Hapus Data
          </button>
        </div>
      </div>
      <div class="form-group row" id="field_bidang" hidden>
        <label for="input_bidang" class="col-2 col-form-label"></label>
        <div class="col" id="list_bidang"></div>
      </div>
      <!-- BIDANG END -->
      <!-- DOSEN AJAR -->
      <div class="form-group row">
        <label for="input_dosen_ajar" class="col-2 col-form-label text-end"
          >Dosen Ajar&ensp;</label
        >
        <div class="col input-group">
          <input
            type="text"
            class="form-control"
            id="input_dosen_ajar"
            autocomplete="off"
            placeholder="Tekan 'F9' untuk lihat list dosen | Input kata kunci"
          />
          <button
            type="button"
            class="btn btn-danger"
            onclick="clearBadge('field_dosen_ajar', 'list_dosen_ajar')"
          >
            Hapus Data
          </button>
        </div>
      </div>
      <div class="form-group row" id="field_dosen_ajar" hidden>
        <label for="input_dosen_ajar" class="col-2 col-form-label"></label>
        <div class="col" id="list_dosen_ajar"></div>
      </div>
      <!-- DOSEN AJAR END -->
      <!-- ASISTENSI -->
      <div class="form-group row">
        <label for="cbAsistensi" class="col-2 col-form-label text-end"
          >Asistensi&ensp;</label
        >
        <div class="col d-flex align-items-center">
          <input type="checkbox" class="form-check-input" name="cbAsistensi" />
        </div>

        <label
          for="cbIntegratedClass"
          class="col-3 col-form-label text-end asistensi_detail"
          hidden
          >Kelas Gabungan</label
        >
        <div class="col d-flex align-items-center">
          <input
            type="checkbox"
            class="form-check-input asistensi_detail"
            name="cbIntegratedClass"
            hidden
          />
        </div>
      </div>

      <div class="form-group row asistensi_detail tipe_kelas_asisten" hidden>
        <label for="rbTipeKelasAsistensi" class="col-2 col-form-label text-end"
          >Tipe Kelas Asisten&ensp;</label
        >
        <div class="col d-flex align-items-center">
          <div class="radio-group">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelasAsistensi"
                id="ASISTEN_TEORI"
                value="TEORI"
              />
              <label for="ASISTEN_TEORI" class="form-check-label">Teori</label>
            </div>
          </div>
          <div class="radio-group">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelasAsistensi"
                id="ASISTEN_PRAKTIKUM"
                value="PRAKTIKUM"
              />
              <label for="ASISTEN_PRAKTIKUM" class="form-check-label"
                >Praktikum</label
              >
            </div>
          </div>
        </div>
      </div>
      <!-- ASISTENSI END -->
      <!-- TEAM TEACHING -->
      <div class="form-group row">
        <label for="cbTeamTeaching" class="col-2 col-form-label text-end"
          >Team Teaching&ensp;</label
        >
        <div class="col d-flex align-items-center">
          <input
            type="checkbox"
            class="form-check-input"
            name="cbTeamTeaching"
          />
        </div>

        <!-- <label
          for="cbIntegratedClass"
          class="col-3 col-form-label text-end asistensi_detail"
          hidden
          >Kelas Gabungan</label
        >
        <div class="col d-flex align-items-center">
          <input
            type="checkbox"
            class="form-check-input asistensi_detail"
            name="cbIntegratedClass"
            hidden
          />
        </div> -->
      </div>

      <div class="form-group row team_teaching_detail" hidden>
        <label for="input_jumlah_dosen" class="col-2 col-form-label text-end"
          >Jumlah Dosen<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly"
            id="input_jumlah_dosen"
            autocomplete="off"
            maxlength="1"
            placeholder="Input jumlah dosen pengajar tiap kelas"
          />
        </div>
      </div>
      <!-- TEAM TEACHING END -->
      <!-- FORM ACTION -->
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="btn-simpan">
          Simpan
        </button>
        <button type="button" class="btn btn-primary" id="btn-update">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-batal"
          onclick="form_matkul(undefined, true)"
        >
          Batal
        </button>
        <button type="button" class="btn btn-danger" id="btn-hapus_individu">
          Hapus
        </button>
      </div>
      <!-- FORM ACTION END -->
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-tambah"
      onclick="form_matkul(false)"
    >
      <i class="fas fa-plus fa-fw"></i><span> Tambah Data</span>
    </button>
    <button type="button" class="btn btn-danger" id="btn-hapus">
      <i class="fas fa-trash fa-fw"></i><span> Hapus Data</span>
    </button>

    <div class="table-responsive">
      <table
        class="table table-bordered table-stripped table-hover w-100"
        id="table_matkul"
      >
        <thead>
          <th><input type="checkbox" name="cbMatkulTabAll" /></th>
          <th>Kode</th>
          <th>Nama</th>
          <th>SKS A</th>
          <th>SKS B</th>
          <th>Asistensi</th>
          {% if not prodi %}
          <th>Program Studi</th>
          {% endif %}
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- MODAL LOV DOSEN -->
<div class="modal fade" id="modal-dosen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Mata Kuliah</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-hover table-bordered w-100"
          style="overflow: auto"
          id="table_lov_dosen"
        >
          <thead>
            <th>NIP</th>
            <th>Nama</th>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- MODAL LOV DOSEN END -->
{% endblock %} {% block script %}
<script>
  const prodi = "{{ prodi | safe }}";
  $(document).ready(function () {
    $("#modal-dosen tbody").on("click", "tr", async function () {
      let row = dosen_lov.row(this).data();
      $("#modal-dosen").modal("hide");
      await addBadge("field_dosen_ajar", "list_dosen_ajar", row.nama);
    });

    document
      .getElementById("input_kelompok")
      .addEventListener("change", function () {
        console.log(this.value);
        let kelompokBaruGroup = document.getElementById("kelompok_baru_group");

        if (this.value === "tambah_baru") {
          console.log(" showing kelompok baru");
          kelompokBaruGroup.style.display = "flex"; // Menampilkan input dan tombol
          document.getElementById("kelompok_baru").focus();
        } else {
          kelompokBaruGroup.style.display = "none";
        }
      });

    document
      .getElementById("kelompok_baru")
      .addEventListener("input", function () {
        document.getElementById("simpan_kelompok").disabled =
          this.value.trim() === "";
      });

    document
      .getElementById("simpan_kelompok")
      .addEventListener("click", function () {
        let kelompokBaru = document
          .getElementById("kelompok_baru")
          .value.trim();
        if (kelompokBaru === "") return;

        $.ajax({
          type: "POST",
          url: "/data_mata_kuliah/post_kelompok",
          cache: false,
          data: JSON.stringify({ nama: kelompokBaru }),
          beforeSend: () => {
            showLoading();
          },
          complete: () => {
            hideLoading();
          },
          success: async function (res) {
            console.log("[ post_kelompok ] ", res);
            if (res.status === false) {
              popUpTimer("error", res.message, undefined, 1500);
              document.getElementById("kelompok_baru").value = "";
            } else {
              let dropdown = document.getElementById("input_kelompok");
              let option = document.createElement("option");
              option.value = kelompokBaru;
              option.textContent = kelompokBaru;
              dropdown.insertBefore(option, dropdown.lastElementChild);
              dropdown.value = kelompokBaru;

              // Reset input
              document.getElementById("kelompok_baru").value = "";
              // document.getElementById("kelompok_baru").style.display = "none";
              // document.getElementById("simpan_kelompok").style.display = "none";
              document.getElementById("kelompok_baru_group").style.display =
                "none";
            }
          },
        });
      });
  });

  function clear_form() {
    $("#frm")[0].reset();
    $("#card-form span.badge").remove();
    $("#field_bidang").attr("hidden", true);
    $("#field_dosen_ajar").attr("hidden", true);
    $(".asistensi_detail").attr("hidden", true);
    $(".team_teaching_detail").attr("hidden", true);
  }

  async function form_matkul(
    update = undefined,
    hidden = false,
    data = undefined
  ) {
    await clear_form();
    window.scrollTo({ top: 0, behavior: "smooth" });
    if (update === false) {
      document.getElementById("formTitle").innerText = "Tambah Data";
      $("#card-form input").prop("disabled", false);
      $("#btn-simpan").prop("hidden", false);
      $("#btn-hapus_individu").prop("hidden", true);
      $("#btn-update").prop("hidden", true);
    } else {
      document.getElementById("formTitle").innerText = "Update Data";
      $("#input_kode").prop("disabled", true);
      $("#btn-simpan").prop("hidden", true);
      $("#btn-hapus_individu").prop("hidden", false);
      $("#btn-update").prop("hidden", false);
    }

    if (prodi) {
      $("#input_prodi").prop("disabled", true);
      $("#input_prodi").val(prodi);
    }

    if (data) {
      $("#input_kode").val(data.kode);
      $("#input_nama").val(data.nama);
      $("#input_kelompok").val(data.kelompok);
      $("#input_sksA").val(data.sks_akademik);
      $("#input_sksB").val(data.sks_bayar);
      $("#input_prodi").val(data.prodi);
      $("#" + data.tipe_kelas).prop("checked", true);
      if (data.bidang)
        data.bidang.forEach((element) => {
          addBadge("field_bidang", "list_bidang", element);
        });
      if (data.dosen_ajar)
        data.dosen_ajar.forEach((element) => {
          addBadge("field_dosen_ajar", "list_dosen_ajar", element);
        });
      $("input[name='cbAsistensi']").prop("checked", data.asistensi);
      $(".asistensi_detail").attr("hidden", data.asistensi ? false : true);
      if (data.asistensi) {
        $(".tipe_kelas_asisten").attr(
          "hidden",
          data.integrated_class ? true : false
        );
        $("input[name='cbIntegratedClass']").prop(
          "checked",
          data.integrated_class
        );
        $("#ASISTEN_" + data.tipe_kelas_asistensi).prop("checked", true);
      }
      $("input[name='cbTeamTeaching']").prop("checked", data.team_teaching);
      $(".team_teaching_detail").attr(
        "hidden",
        data.team_teaching ? false : true
      );
      if (data.team_teaching) {
        $("#input_jumlah_dosen").val(data.jumlah_dosen);
      }
    }
    $("#card-form").prop("hidden", hidden ? true : false);
  }

  $("#btn-simpan").on("click", function () {
    if (!$("#input_kode").val()) {
      popUpTimer("error", "Kode Matkul belum diisi!");
      setTimeout(() => {
        $("#input_kode").focus();
      }, 1500);
      return;
    } else if (
      matkul_tab
        .data()
        .toArray()
        .some((item) => item.kode === $("#input_kode").val())
    ) {
      popUpTimer(
        "error",
        "Data dengan Kode Matkul " + $("#input_kode").val() + " sudah ada!"
      );
      form_matkul(false);
      return;
    } else if (!$("#input_nama").val()) {
      popUpTimer("error", "Nama Matkul belum diisi!");
      setTimeout(() => {
        $("#input_nama").focus();
      }, 1500);
      return;
    } else if (!$("#input_sksA").val() || !$("#input_sksB").val()) {
      popUpTimer("error", "SKS Akademik / Bayar belum diisi!");
      setTimeout(() => {
        !$("#input_sksA").val()
          ? $("#input_sksA").focus()
          : $("#input_sksB").focus();
      }, 1500);
      return;
    } else if (!$("#input_prodi").val()) {
      popUpTimer("error", "Program Studi belum diisi!");
      setTimeout(() => {
        $("#input_prodi").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbTipeKelas")[0]) {
      popUpTimer("error", "Tipe Kelas belum diisi!");
      setTimeout(() => {
        $("#rbTipeKelas").focus();
      }, 1500);
      return;
    } else if (
      getCheckedItemValue("cbAsistensi")[0] &&
      !getCheckedItemValue("rbTipeKelasAsistensi")[0] &&
      !getCheckedItemValue("cbIntegratedClass")[0]
    ) {
      popUpTimer("error", "Tipe Kelas Asisten belum diisi!");
      setTimeout(() => {
        $("#rbTipeKelas").focus();
      }, 1500);
      return;
    } else if (
      getCheckedItemValue("cbTeamTeaching")[0] &&
      !$("#input_jumlah_dosen").val()
    ) {
      popUpTimer("error", "Jumlah Dosen Pengajar belum diisi!");
      setTimeout(() => {
        $("#input_jumlah_dosen").focus();
      }, 1500);
      return;
    }

    let params = {
      kode: $("#input_kode").val(),
      nama: $("#input_nama").val(),
      kelompok: $("#input_kelompok").val(),
      sks_akademik: Number($("#input_sksA").val()),
      sks_bayar: Number($("#input_sksB").val()),
      prodi: $("#input_prodi").val(),
      tipe_kelas: getCheckedItemValue("rbTipeKelas")[0],
      bidang: retrieveBadgeValues("list_bidang"),
      dosen_ajar: retrieveBadgeValues("list_dosen_ajar"),
      asistensi: getCheckedItemValue("cbAsistensi")[0] ? true : false,
      tipe_kelas_asistensi: getCheckedItemValue("rbTipeKelasAsistensi")[0],
      integrated_class: getCheckedItemValue("cbIntegratedClass")[0]
        ? true
        : false,
      team_teaching: getCheckedItemValue("cbTeamTeaching")[0] ? true : false,
      jumlah_dosen: Number($("#input_jumlah_dosen").val()),
    };

    $.ajax({
      type: "POST",
      url: "/data_mata_kuliah/post_matkul",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ post_matkul ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          matkul_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#btn-update").on("click", function () {
    if (!$("#input_kode").val()) {
      popUpTimer("error", "Kode Matkul belum diisi!");
      setTimeout(() => {
        $("#input_kode").focus();
      }, 1500);
      return;
    } else if (
      !matkul_tab
        .data()
        .toArray()
        .some((item) => item.kode === $("#input_kode").val())
    ) {
      popUpTimer(
        "error",
        "Data dengan Kode Matkul " +
          $("#input_kode").val() +
          " tidak ditemukan!"
      );
      form_matkul(false);
      return;
    } else if (!$("#input_nama").val()) {
      popUpTimer("error", "Nama Matkul belum diisi!");
      setTimeout(() => {
        $("#input_nama").focus();
      }, 1500);
      return;
    } else if (!$("#input_sksA").val() || !$("#input_sksB").val()) {
      popUpTimer("error", "SKS Akademik / Bayar belum diisi!");
      setTimeout(() => {
        !$("#input_sksA").val()
          ? $("#input_sksA").focus()
          : $("#input_sksB").focus();
      }, 1500);
      return;
    } else if (!$("#input_prodi").val()) {
      popUpTimer("error", "Program Studi belum diisi!");
      setTimeout(() => {
        $("#input_prodi").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbTipeKelas")[0]) {
      popUpTimer("error", "Tipe Kelas belum diisi!");
      setTimeout(() => {
        $("#rbTipeKelas").focus();
      }, 1500);
      return;
    } else if (
      getCheckedItemValue("cbAsistensi")[0] &&
      !getCheckedItemValue("rbTipeKelasAsistensi")[0] &&
      !getCheckedItemValue("cbIntegratedClass")[0]
    ) {
      popUpTimer("error", "Tipe Kelas Asisten belum diisi!");
      setTimeout(() => {
        $("#rbTipeKelas").focus();
      }, 1500);
      return;
    } else if (
      getCheckedItemValue("cbTeamTeaching")[0] &&
      !$("#input_jumlah_dosen").val()
    ) {
      popUpTimer("error", "Jumlah Dosen Pengajar belum diisi!");
      setTimeout(() => {
        $("#input_jumlah_dosen").focus();
      }, 1500);
      return;
    }

    let params = {
      kode: $("#input_kode").val(),
      nama: $("#input_nama").val(),
      kelompok: $("#input_kelompok").val(),
      sks_akademik: Number($("#input_sksA").val()),
      sks_bayar: Number($("#input_sksB").val()),
      prodi: $("#input_prodi").val(),
      tipe_kelas: getCheckedItemValue("rbTipeKelas")[0],
      bidang: retrieveBadgeValues("list_bidang"),
      dosen_ajar: retrieveBadgeValues("list_dosen_ajar"),
      asistensi: getCheckedItemValue("cbAsistensi")[0] ? true : false,
      tipe_kelas_asistensi: getCheckedItemValue("rbTipeKelasAsistensi")[0],
      integrated_class: getCheckedItemValue("cbIntegratedClass")[0]
        ? true
        : false,
      team_teaching: getCheckedItemValue("cbTeamTeaching")[0] ? true : false,
      jumlah_dosen: Number($("#input_jumlah_dosen").val()),
    };

    $.ajax({
      type: "POST",
      url: "/data_mata_kuliah/put_matkul",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ put_matkul ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          matkul_tab.ajax.reload(null, false);
        }
      },
    });
  });

  async function hapusData(list_data) {
    let decision = await Swal.fire({
      title: "Yakin akan hapus data ini?",
      showCancelButton: true,
      confirmButtonText: "Yakin",
      cancelButtonText: "Batalkan",
    }).then((result) => {
      if (result.isConfirmed) {
        return true;
      } else if (result.isDismissed) {
        return false;
      }
    });

    if (decision === true) {
      $.ajax({
        type: "POST",
        url: "/data_mata_kuliah/delete_matkul",
        cache: false,
        data: JSON.stringify(list_data),
        beforeSend: () => {
          showLoading();
        },
        complete: () => {
          hideLoading();
        },
        success: function (res) {
          console.log("[ delete_matkul ] ", res);
          if (res.status === false) {
            popUpTimer("error", res.message);
          } else {
            popUpTimer("success", res.message);
            $('input[name="cbMatkulTabAll"]').prop("checked", false);
            matkul_tab.ajax.reload(null, false);
          }
          $("#btn-batal").click();
        },
      });
    }
  }

  $("#btn-hapus_individu").on("click", async function () {
    let kode_matkul = $("#input_kode").val();
    if (
      matkul_tab
        .data()
        .toArray()
        .find((item) => item.kode == kode_matkul && item.prodi === "GENERAL")
    )
      return popUpTimer(
        "error",
        "Matkul ini " +
          matkul_tab
            .data()
            .toArray()
            .find(
              (item) => item.kode == kode_matkul && item.prodi === "GENERAL"
            ) +
          " tidak bisa dihapus!",
        "Silahkan hubungi admin untuk modifikasi matkul ini.",
        2500
      );

    await hapusData([{ kode: kode_matkul }]);
  });

  $("#btn-hapus").on("click", async function () {
    let selectedData = [];

    $("input[name='cbMatkulTab']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = matkul_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedData.push(rowData);
      }
    });

    if (!selectedData.length)
      return popUpTimer("error", "Tidak ada data untuk dihapus.");

    if (selectedData.find((item) => item.prodi === "GENERAL"))
      return popUpTimer(
        "error",
        "Matkul ini " +
          selectedData.find((item) => item.prodi === "GENERAL").kode +
          " tidak bisa dihapus!",
        "Silahkan hubungi admin untuk modifikasi matkul ini.",
        2500
      );

    await hapusData(selectedData);
  });

  function detail_matkul(object) {
    let data = matkul_tab.row(object.closest("tr")).data();
    if (data.prodi !== "GENERAL") form_matkul(true, false, data);
    else
      return popUpTimer(
        "error",
        "Matkul ini tidak bisa diedit!",
        "Silahkan hubungi admin untuk modifikasi matkul ini.",
        2500
      );
  }

  $("#input_prodi").on("change", function () {
    dosen_lov.ajax.reload();
  });

  $("#input_bidang").on("keydown", function (event) {
    if (event.key === "Enter") {
      let user_input = $("#input_bidang").val();
      if (user_input.length >= 3) {
        addBadge("field_bidang", "list_bidang", user_input);
        $("#input_bidang").val("");
      } else popUpTimer("info", "Input minimal 3 karakter!");
    }
  });

  $("#input_dosen_ajar").on("keydown", async function (event) {
    if (event.key === "F9") {
      event.preventDefault();
      $("#modal-dosen").modal("show");
      $("#table_lov_dosen_filter input").focus(); // focus ke field search saat modal matkul dibuka
    } else if (event.key === "Enter" && this.value.length >= 3) {
      event.preventDefault();
      let resultKode = dosen_lov
        .data()
        .toArray()
        .filter(
          (dosen) =>
            dosen.nip.includes(this.value) || dosen.nama.includes(this.value)
        );

      if (resultKode.length === 1)
        await addBadge(
          "field_dosen_ajar",
          "list_dosen_ajar",
          resultKode[0].nama
        );
      else if (resultKode.length > 1) {
        let infoData = [];
        resultKode.forEach((element) => {
          if (!retrieveBadgeValues("list_dosen_ajar").includes(element.nama))
            infoData.push(element);
        });

        if (infoData.length > 1) {
          let selectOptions = resultKode
            .map((data) => `<option value="${data.nama}">${data.nama}</option>`)
            .join("");

          Swal.fire({
            title: "Dosen Mana?",
            text: "Hasil pencarian jamak. Dosen mana yang anda maksud?",
            icon: "question",
            html: `
              <select id="swal-select" class="form-select">
                <option value="">-- Pilih --</option>
                ${selectOptions}
              </select>
            `,
            showCancelButton: true,
            confirmButtonText: "OK",
            preConfirm: () => {
              const selected = document.getElementById("swal-select").value;
              if (!selected) {
                Swal.showValidationMessage("Silakan pilih salah satu opsi.");
              }
              return selected;
            },
          }).then((result) => {
            if (result.isConfirmed) {
              addBadge("field_dosen_ajar", "list_dosen_ajar", result.value);
            }
          });
        } else
          addBadge("field_dosen_ajar", "list_dosen_ajar", infoData[0].nama);
      } else
        await popUpTimer(
          "error",
          "Data tidak ditemukan!",
          "Jika bersikeras, harap tambahkan data terlebih dahulu.",
          2000
        );

      this.value = "";
    } else if (event.key === "Enter")
      popUpTimer("info", "Input minimal 3 karakter!");
  });

  // CHECKBOX
  $('input[name="cbAsistensi"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $(".asistensi_detail").attr("hidden", isChecked ? false : true);
  });

  $('input[name="cbTeamTeaching"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $(".team_teaching_detail").attr("hidden", isChecked ? false : true);
  });

  $('input[name="cbIntegratedClass"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $(".tipe_kelas_asisten").attr("hidden", isChecked ? true : false);
  });

  // Event ketika cbMatkulTabAll di-click
  $('input[name="cbMatkulTabAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbMatkulTab"]').prop("checked", isChecked);
  });

  // Event ketika salah satu cbMatkulTab di-click
  $(document).on("change", 'input[name="cbMatkulTab"]', function () {
    let allChecked =
      $('input[name="cbMatkulTab"]').length ===
      $('input[name="cbMatkulTab"]:checked').length;
    $('input[name="cbMatkulTabAll"]').prop("checked", allChecked);
  });

  // DATATABLE
  let matkul_tab_column = [
    {
      data: null,
      width: "10px",
      className: "text-center",
      render: function (data, type, row) {
        return `
              <input type="checkbox" name="cbMatkulTab"/>
            `;
      },
    },
    {
      data: "kode",
      width: "75px",
      defaultContent: "",
    },
    {
      data: "nama",
      width: "300px",
      defaultContent: "",
    },
    {
      data: "sks_akademik",
      width: "20px",
      defaultContent: "",
      className: "text-end",
    },
    {
      data: "sks_bayar",
      width: "20px",
      defaultContent: "",
      className: "text-end",
    },
    {
      data: "asistensi",
      width: "",
      defaultContent: "",
    },
    {
      data: null,
      width: "10px",
      render: function () {
        return `<button class="btn btn-primary btn-sm" onclick="detail_matkul($(this))">Det</button>`;
      },
      // orderable: false,
      className: "text-center",
    },
  ];
  if (!prodi) {
    matkul_tab_column.splice(6, 0, {
      data: "prodi",
      width: "300px",
      defaultContent: "",
    });
  }

  let matkul_tab = $("#table_matkul").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_mata_kuliah/get_matkul",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: matkul_tab_column,
  });

  let dosen_lov = $("#table_lov_dosen").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_dosen/get_dosen_prodi",
      data: function (d) {
        return {
          prodi: prodi ? prodi : $("#input_prodi").val(),
        };
      },
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      {
        data: "nip",
        width: "75px",
      },
      {
        data: "nama",
        width: "300px",
      },
    ],
  });
</script>
{% endblock %}
