{% extends "layout.html" %} {% block content %}
<style>
  .circle-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .circle-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #dc3545; /* merah default */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3 5.7L12 12l6.3 6.3-1.4 1.4L12 13.4l-6.3 6.3-1.4-1.4L10.6 12 4.3 5.7 5.7 4.3 12 10.6 18.3 4.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: all 0.2s;
  }

  .circle-checkbox input:checked + .checkmark {
    background-color: #28a745; /* hijau */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2l-3.5-3.5-1.4 1.4L9 19 20.3 7.7l-1.4-1.4z'/%3E%3C/svg%3E");
  }
</style>

<div class="card" id="card-form" hidden>
  <div class="card-body">
    <form role="form" class="form-horizontal row" id="frm">
      <div class="row">
        <h4 id="formTitle"></h4>
      </div>
      <!-- PROGRAM STUDI + STATUS -->
      <div class="form-group row">
        <label for="input_prodi" class="col-2 col-form-label text-end"
          >Program Studi<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="input_prodi"
            autocomplete="off"
            placeholder="Input Program Studi"
          />
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="rbStatus" class="col-2 col-form-label text-end">
          Status<span class="text-danger" aria-hidden="true">*</span>
        </label>
        <div class="col d-flex align-items-center">
          <div class="form-check form-check-inline ms-2">
            <input
              type="radio"
              name="rbStatus"
              id="AKTIF"
              value="AKTIF"
              class="form-check-input"
            />
            <label class="form-check-label" for="AKTIF">Aktif</label>
          </div>
          <div class="form-check form-check-inline ms-4">
            <input
              type="radio"
              name="rbStatus"
              id="NONAKTIF"
              value="NONAKTIF"
              class="form-check-input"
            />
            <label class="form-check-label" for="NONAKTIF">Tidak Aktif</label>
          </div>
        </div>
      </div>
      <!-- PROGRAM STUDI + STATUS END -->
      <!-- FAKULTAS -->
      <!-- <div class="form-group row">
        <label for="input_fakultas" class="col-2 col-form-label text-end"
          >Fakultas<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="input_fakultas"
            autocomplete="off"
            placeholder="Input Fakultas"
          />
        </div>
      </div> -->
      <!-- FAKULTAS END -->
      <!-- KEPALA PROGRAM STUDI -->
      <div class="form-group row">
        <label for="input_kaprodi" class="col-2 col-form-label text-end"
          >Kepala Program Studi&ensp;</label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="input_kaprodi"
            autocomplete="off"
            placeholder="Tekan 'F9' untuk lihat list dosen | Input kata kunci"
          />
        </div>
      </div>
      <!-- KEPALA PROGRAM STUDI END -->
      <!-- FORM ACTION -->
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="btn-simpan">
          Simpan
        </button>
        <button type="button" class="btn btn-primary" id="btn-update">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-batal"
          onclick="form_prodi(undefined, true)"
        >
          Batal
        </button>
      </div>
      <!-- FORM ACTION END -->
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-tambah"
      onclick="form_prodi(false)"
    >
      <i class="fas fa-plus fa-fw"></i><span> Tambah Data</span>
    </button>

    <div class="table-responsive">
      <table
        class="table table-bordered table-stripped table-hover w-100"
        id="table_prodi"
      >
        <thead>
          <!-- <th>Fakultas</th> -->
          <th>Program Studi</th>
          <th>Status</th>
          <th>Kaprodi</th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>

<!-- VERIFIKASI USER -->
<div class="modal fade" id="modal-verifikasiUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Verifikasi User</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="verifikasiUser-nip" class="col-3 col-form-label text-left"
            >NIP</label
          >
          <input
            type="text"
            class="form-control col"
            id="verifikasiUser-nip"
            autocomplete="off"
          />
        </div>
        <div class="form-group row fully-disabled">
          <label
            for="verifikasiUser-nama"
            class="col-3 col-form-label text-left"
            >Nama</label
          >
          <input
            type="text"
            class="form-control col"
            id="verifikasiUser-nama"
            autocomplete="off"
            disabled
          />
        </div>
        <div class="form-group row">
          <label
            for="verifikasiUser-password"
            class="col-3 col-form-label text-left"
            >Password</label
          >
          <input
            type="password"
            class="form-control col sensitive-case"
            id="verifikasiUser-password"
            autocomplete="new-password"
          />
        </div>
        <div
          class="form-group alert alert-danger row"
          id="verifikasiUser-access"
          hidden
        ></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="verifikasiUser-ok">
          OK
        </button>
        <button
          type="button"
          class="btn btn-default pull-left"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- VERIFIKASI USER END -->

<!-- MODAL LOV DOSEN -->
<div class="modal fade" id="modal-dosen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Mata Kuliah</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-hover table-bordered w-100"
          style="overflow: auto"
          id="table_lov_dosen"
        >
          <thead>
            <th>NIP</th>
            <th>Nama</th>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- MODAL LOV DOSEN END -->
{% endblock %} {% block script %}
<script>
  var old_prodi_name = null;

  $(document).ready(function () {
    $("#modal-verifikasiUser").on("shown.bs.modal", function () {
      $("#verifikasiUser-nip").click().focus();
    });

    $("#modal-verifikasiUser").on("hidden.bs.modal", function (e) {
      $(this)
        .find(":input")
        .val("") // Menghapus nilai input
        .prop("checked", false) // Uncheck checkbox/radio
        .prop("selected", false); // Reset dropdown
    });

    $("#verifikasiUser-nip, #verifikasiUser-password").on(
      "keydown",
      function (event) {
        event.key === "Enter" ? $(this).blur() : null;
      }
    );

    $("#modal-dosen tbody").on("click", "tr", async function () {
      let row = dosen_lov.row(this).data();
      $("#modal-dosen").modal("hide");
      $("#input_kepala_program_studi").val(row["nama"]);
    });
  });

  function clear_form() {
    $("#frm")[0].reset();
  }

  async function form_prodi(
    update = undefined,
    hidden = false,
    data = undefined
  ) {
    await clear_form();
    window.scrollTo({ top: 0, behavior: "smooth" });
    if (update === false) {
      document.getElementById("formTitle").innerText = "Tambah Data";
      $("#card-form input").prop("disabled", false);
      $("#btn-simpan").attr("hidden", false);
      $("#btn-update").attr("hidden", true);
    } else {
      document.getElementById("formTitle").innerText = "Update Data";
      $("#input_nip").prop("disabled", true);
      $("#btn-simpan").attr("hidden", true);
      $("#btn-update").attr("hidden", false);
    }

    if (data) {
      // $("#input_fakultas").val(data.fakultas);
      old_prodi_name = data.program_studi;
      $("#input_prodi").val(data.program_studi);
      $("#" + data.status_aktif).prop("checked", true);
      if (data.kepala_program_studi)
        $("#input_kaprodi").val(data.kepala_program_studi);
    }

    $("#card-form").prop("hidden", hidden ? true : false);
  }

  $("#btn-simpan").on("click", function () {
    if (!$("#input_prodi").val()) {
      popUpTimer("error", "Nama Program Studi belum diisi!");
      setTimeout(() => {
        $("#input_prodi").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbStatus")[0]) {
      popUpTimer("error", "Status Program Studi belum diisi!");
      setTimeout(() => {
        $("input[name='rbStatus']").focus();
      }, 1500);
      return;
    }

    let params = {
      program_studi: $("#input_prodi").val(),
      status_aktif: getCheckedItemValue("rbStatus")[0],
    };

    $.ajax({
      type: "POST",
      url: "/data_program_studi/post_program_studi",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ post_prodi ] ", res);
        if (res.status === false && res.reVerify) {
          verificationRes = await verifikasiUserPromise()
            .then((result) => {
              return result.status;
            })
            .catch((error) => {
              if (error.message) popUpTimer("error", error.message);
              return error.status;
            });

          if (verificationRes) $("#btn-simpan").click();
        }

        if (res.status === false) {
          if (res.message) await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          prodi_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#btn-update").on("click", function () {
    if (!$("#input_prodi").val()) {
      popUpTimer("error", "Nama Program Studi belum diisi!");
      setTimeout(() => {
        $("#input_prodi").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbStatus")[0]) {
      popUpTimer("error", "Status Program Studi belum diisi!");
      setTimeout(() => {
        $("input[name='rbStatus']").focus();
      }, 1500);
      return;
    }

    let params = {
      old_program_studi: old_prodi_name,
      program_studi: $("#input_prodi").val(),
      status_aktif: getCheckedItemValue("rbStatus")[0],
    };

    $.ajax({
      type: "POST",
      url: "/data_program_studi/put_program_studi",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ put_prodi ] ", res);
        if (res.status === false && res.reVerify) {
          verificationRes = await verifikasiUserPromise()
            .then((result) => {
              return result.status;
            })
            .catch((error) => {
              if (error.message) popUpTimer("error", error.message);
              return error.status;
            });

          if (verificationRes) $("#btn-update").click();
        }

        if (res.status === false) {
          if (res.message) await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          prodi_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#input_kaprodi").on("keydown", function (event) {
    if (event.key == "Backspace") $(this).val("");
    else if (event.key === "F9") {
      event.preventDefault();
      $("#modal-dosen").modal("show");
      $("#table_lov_dosen_filter input").focus(); // focus ke field search saat modal matkul dibuka
    } else if (event.key === "Enter" && this.value.length >= 3) {
      event.preventDefault();
      $(this).blur();
    } else if (event.key === "Enter")
      popUpTimer("info", "Input minimal 3 karakter!");
  });

  $("#input_kaprodi").on("change", async function () {
    let resultKode = dosen_lov
      .data()
      .toArray()
      .filter(
        (dosen) =>
          dosen.nip.includes(this.value) || dosen.nama.includes(this.value)
      );

    if (resultKode.length === 1) $(this).val(resultKode[0].nama);
    else if (resultKode.length > 1) {
      let infoData = [];
      resultKode.forEach((element) => {
        infoData.push(element);
      });

      let selectOptions = resultKode
        .map((data) => `<option value="${data.nama}">${data.nama}</option>`)
        .join("");

      Swal.fire({
        title: "Dosen Mana?",
        text: "Hasil pencarian jamak. Dosen mana yang anda maksud?",
        icon: "question",
        html: `
              <select id="swal-select" class="form-select">
                <option value="">-- Pilih --</option>
                ${selectOptions}
              </select>
            `,
        showCancelButton: true,
        confirmButtonText: "OK",
        preConfirm: () => {
          const selected = document.getElementById("swal-select").value;
          if (!selected) {
            Swal.showValidationMessage("Silakan pilih salah satu opsi.");
          }
          return selected;
        },
      }).then((result) => {
        if (result.isConfirmed) {
          $(this).val(result.value);
        }
      });
    } else {
      await popUpTimer(
        "error",
        "Data tidak ditemukan!",
        "Jika bersikeras, harap tambahkan data terlebih dahulu.",
        2000
      );

      this.value = "";
    }
  });

  function detail_prodi(object) {
    let data = prodi_tab.row(object.closest("tr")).data();
    form_prodi(true, false, data);
  }

  /**
   * Promise untuk menampilkan verifikasi user.
   *
   *  @returns {dictionary} - return dictionary {status, message}
   */
  function verifikasiUserPromise() {
    try {
      return new Promise((resolve, reject) => {
        // Tampilkan modal verifikasi user
        $("#modal-verifikasiUser").modal("show");

        // Handle ketika user mengubah NIP dan password
        $("#verifikasiUser-nip").on("change", async function (event) {
          await $.ajax({
            type: "GET",
            url: "/data_program_studi/verifikasi_user",
            cache: false,
            data: { nip: $(this).val() },
            beforeSend: () => {
              showLoading();
            },
            complete: () => {
              hideLoading();
            },
            success: async function (res) {
              if (res.status) $("#verifikasiUser-nama").val(res.data.nama);
              else {
                $("#modal-verifikasiUser").modal("hide");
                reject({
                  status: false,
                  message: res.message,
                });
              }
            },
          });
        });

        $("#verifikasiUser-password").on("change", async function (event) {
          if ($("#verifikasiUser-nip").val() && $(this).val())
            await userValidation();
          else if (!$("#verifikasiUser-nip").val()) {
            $(this).val("").blur();
            await popUpTimer("error", "NIP belum diisi!");
            $("#verifikasiUser-nip").focus();
          } else if (!$(this).val())
            await popUpTimer("error", "Password belum diisi!");
        });

        // Handle ketika user menekan tombol OK
        $("#verifikasiUser-ok").on("click", async function (event) {
          await userValidation();
        });

        async function userValidation() {
          if (!$("#verifikasiUser-nip").val()) {
            await popUpTimer("error", "NIP belum diisi!");
            return;
          } else if (!$("#verifikasiUser-password").val()) {
            await popUpTimer("error", "Password belum diisi!");
            return;
          }

          params = {
            nip: $("#verifikasiUser-nip").val(),
            password: $("#verifikasiUser-password").val(),
          };
          $.ajax({
            type: "GET",
            url: "/data_program_studi/user_validation",
            cache: false,
            data: params,
            beforeSend: () => {
              showLoading();
            },
            complete: () => {
              hideLoading();
            },
            success: async function (res) {
              if (res.status === true) {
                // Resolusi promise
                resolve({ status: true, message: "sukses" });
              } else {
                $("#modal-verifikasiUser").modal("hide");
                reject({
                  status: false,
                  message: res.message,
                });
              }

              // tutup modal
              $("#modal-verifikasiUser").modal("hide");
            },
          });
        }

        // Jika modal ditutup tanpa klik OK, tolak Promise
        $("#modal-verifikasiUser").on("hidden.bs.modal", function () {
          reject({
            status: false,
            message: "Proses Verifikasi User dibatalkan!",
          });
        });
      });
    } catch (error) {
      $("#modal-verifikasiUser").modal("hide");
      popUpTimer("error", error.status, error.statusText);
    }
  }

  let prodi_tab = $("#table_prodi").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_program_studi/get_program_studi",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      // {
      //   data: "fakultas",
      //   width: "300px",
      //   defaultContent: "",
      // },
      {
        data: "program_studi",
        defaultContent: "",
      },
      {
        data: "status_aktif",
        width: "10px",
        defaultContent: "",
        className: "text-center fully-disabled",
        render: function (data, type, row) {
          return `<div class="button-group"><label class="circle-checkbox">
                  <input type="checkbox" name="status_aktif" ${
                    data == "AKTIF" ? "checked" : ""
                  }/>
                  <span class="checkmark"></span>
                </label>
                </div>`;
        },
      },
      {
        data: "kepala_program_studi",
        defaultContent: "",
      },
      {
        data: null,
        width: "10px",
        render: function () {
          return `<button class="btn btn-primary btn-sm" onclick="detail_prodi($(this))">Det</button>`;
        },
        // orderable: false,
        className: "text-center",
      },
    ],
  });

  let dosen_lov = $("#table_lov_dosen").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_dosen/get_dosen",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      {
        data: "nip",
        width: "75px",
      },
      {
        data: "nama",
        width: "300px",
      },
    ],
  });
</script>
{% endblock %}
