{% extends "layout.html" %} {% block content %}
<style>
  .active-card {
    border: 2px solid #007bff !important; /* Warna border biru */
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5); /* Glow efek */
    /* transition: 0.3s ease-in-out; */
  }
</style>
<!-- MATKUL_TAB = TABLE MATKUL DI FORM TAMBAH -->

<div class="card" id="card-form" hidden>
  <!-- hidden -->
  <div class="card-body">
    <form role="form" class="form-horizontal row" id="frm">
      <div class="row">
        <h4 id="formTitle"></h4>
      </div>
      <!-- ANGKATAN + JUMLAH MAHASISWA -->
      <div class="form-group row">
        <label for="input_angkatan" class="col-2 col-form-label text-end"
          >Angkatan</label
        >
        <div class="col-2">
          <select class="form-control" id="input_angkatan">
            <option value="ALL">All</option>
            {% for tahun in session['academic_details']['list_angkatan'] %}
            <option value="{{ tahun }}">{{ tahun }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col"></div>
        <label
          for="input_jumlah_mahasiswa"
          class="col-5 col-form-label text-end"
          id="label_jumlah_mahasiswa"
          >Jumlah Mahasiswa Aktif Angkatan -</label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly text-end"
            id="input_jumlah_mahasiswa"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- ANGKATAN + JUMLAH MAHASISWA END -->
      <!-- PROGRAM STUDI -->
      <div class="form-group row">
        <label for="input_prodi" class="col-2 col-form-label text-end"
          >Program Studi<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col">
          <select
            class="form-select"
            id="input_prodi"
            onchange="changedProdi($(this).val())"
          >
            <option value="">-- Pilih Program Studi --</option>
            {% for prodi in list_prodi %}
            <option value="{{ prodi }}">{{ prodi }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- PROGRAM STUDI END -->
      <!-- BIDANG MINAT -->
      <div class="form-group row">
        <label for="input_bidangMinat" class="col-2 col-form-label text-end"
          >Bidang Minat</label
        >
        <div class="col">
          <select class="form-select" id="input_bidang_minat">
            <option class="default" value="">
              -- Pilih Bidang Minat (Jika setting penjurusan / konsentrasi) --
            </option>
          </select>
        </div>
      </div>
      <!-- BIDANG MINAT END -->
      <!-- LIST MATKUL -->
      <div class="form-group row">
        <label for="input_listMatkul" class="col-2 col-form-label text-end"
          >List Matkul</label
        >
        <div class="col">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="input_matkul"
              placeholder="Tekan 'F9' untuk lihat list dosen | Input kata kunci"
              autocomplete="off"
            />
            <!-- <button type="button" id="copy_data" class="btn btn-primary">
              Copy Data Lain
            </button> -->
          </div>
        </div>
      </div>
      <!-- LIST MATKUL END -->
      <!-- TABLE MATKUL -->
      <div class="form-group row">
        <div class="table-responsive">
          <table
            class="table table-bordered table-stripped table-hover w-100"
            id="table_matkul"
          >
            <thead>
              <th><input type="checkbox" name="cbMatkulTabAll" /></th>
              <th>Kode</th>
              <th>Nama</th>
              <th>SKS A</th>
              <th>SKS B</th>
              <th>Jumlah Kelas</th>
            </thead>
            <tbody></tbody>
            <tfoot>
              <tr>
                <th colspan="3">Jumlah SKS :</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- TABLE MATKUL END -->
      <!-- FORM ACTION -->
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="btn-simpan">
          Simpan
        </button>
        <button type="button" class="btn btn-primary" id="btn-update">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="btn-hapusMatkul"
          style="display: none"
        >
          Hapus Matkul
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-batal"
          onclick="form_matkul(undefined, true)"
        >
          Batal
        </button>
      </div>
      <!-- FORM ACTION END -->
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center">
      <div class="col-3">
        <button
          type="button"
          class="btn btn-primary"
          id="btn-tambah"
          onclick="form_matkul(false)"
        >
          <i class="fas fa-plus fa-fw"></i><span> Tambah Data</span>
        </button>
      </div>
      <div class="col"></div>
      <div class="col-5 d-flex align-items-center">
        <label for="input_search" class="me-2 mb-0 fw-bold">Search</label>
        <input
          type="text"
          class="form-control"
          id="input_search"
          placeholder="Search something..."
          autocomplete="off"
        />
      </div>
    </div>
  </div>
</div>

<div id="tableContainer"></div>

<div class="modal fade" id="modal-matkul">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Mata Kuliah</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-hover table-bordered w-100"
          style="overflow: auto"
          id="table-lov-matkul"
        >
          <thead>
            <th>Kode</th>
            <th>Nama</th>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- modal matkul end -->

<div class="modal fade" id="modal-copy">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Angkatan</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-hover table-bordered w-100"
          style="overflow: auto"
          id="table-lov-matkul"
        >
          <thead>
            <th>Kode</th>
            <th>Nama</th>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- modal matkul end -->
{% endblock %} {% block script %}
<script>
  const prodi = "{{ prodi | safe }}";
  var maks_sks = 0;
  const data_sebelum = JSON.parse(`{{ data_sebelum | tojson | safe }}`);
  let data_angkatan = JSON.parse(JSON.stringify(data_sebelum)); // deepCopy data_sebelum

  $(document).ready(async function () {
    $("#modal-matkul").on("shown.bs.modal", function (e) {
      $.fn.dataTable
        .tables({
          visible: true,
          api: true,
        })
        .columns.adjust();
    });

    document
      .getElementById("input_angkatan")
      .addEventListener("change", function () {
        let angkatan = yearInput(this.value.trim()); // Ambil nilai input & hilangkan spasi berlebih
        let label = document.getElementById("label_jumlah_mahasiswa");
        this.value = angkatan;

        // Jika ada angka, update label; jika kosong, tampilkan default "-"
        label.textContent =
          "Jumlah Mahasiswa Aktif Angkatan " + (angkatan ? angkatan : "-");
      });

    $(document).on("click", ".data_angkatan", function () {
      $(".data_angkatan").removeClass("active-card"); // Hapus highlight dari card lain
      $(".btn-edit").css("display", "none");
      $(".btn-hapus").css("display", "none");
      $(this).addClass("active-card"); // Tambahkan highlight ke card yang diklik
      $(this).find(".btn-edit").css("display", "inline");
      $(this).find(".btn-hapus").css("display", "inline");
    });

    if (data_sebelum) generateDataContainers(data_sebelum);

    $("#modal-matkul tbody").on("click", "tr", async function () {
      let row = matkul_lov.row(this).data();
      $("#modal-matkul").modal("hide");
      await setMatkul(row);
    });
  });

  function isNoActiveCard() {
    // Ambil semua elemen dengan class 'data_angkatan'
    const elements = document.querySelectorAll(".data_angkatan");

    // Periksa apakah ada elemen yang juga memiliki class 'active-card'
    for (let element of elements) {
      if (element.classList.contains("active-card")) {
        return false; // Ditemukan elemen yang memiliki kedua class
      }
    }

    $(".btn-edit").css("display", "none");
    $(".btn-hapus").css("display", "none");
    return true; // Tidak ada elemen yang memiliki kedua class
  }

  async function clear_form() {
    $("#frm")[0].reset();
    $("#card-form span.badge").remove();
    $("#input_search").val("").trigger("input");
    $("#input_bidang_minat").children().filter(":not(.default)").remove(); // hapus semua list bidang_minat

    // $("#field_pakar").attr("hidden", true);
    // $("#field_matkul_ajar").attr("hidden", true);
    // $(".preferensi_detail").attr("hidden", true);
  }

  async function form_matkul(
    update = undefined,
    hidden = false,
    data = undefined
  ) {
    await clear_form();
    matkul_tab.clear().draw();
    document.getElementById("btn-hapusMatkul").style.display = "none";

    // $("#input_bidang_minat").prop("disabled", true);

    if (update === false) {
      document.getElementById("formTitle").innerText = "Tambah Data";
      $("#btn-simpan").attr("hidden", false);
      $("#btn-update").attr("hidden", true);

      $("#input_angkatan").prop("disabled", false);
      $("#input_bidang_minat").prop("disabled", false);
    } else {
      document.getElementById("formTitle").innerText = "Update Data";
      $("#btn-simpan").attr("hidden", true);
      $("#btn-update").attr("hidden", false);
      $("#input_angkatan").prop("disabled", true);
      $("#input_bidang_minat").prop("disabled", true);
    }

    if (prodi) {
      $("#input_prodi").prop("disabled", true);
      $("#input_prodi").val(prodi);
      if (update == false) await changedProdi($("#input_prodi").val());
    }

    if (data) {
      $("#input_angkatan").val(data.angkatan);
      $("#input_jumlah_mahasiswa").val(data.jumlah_mahasiswa);
      $("#input_prodi").val(prodi ? prodi : data.prodi);
      await changedProdi($("#input_prodi").val());
      $("#input_bidang_minat").val(data.bidang_minat);
      matkul_tab.clear().rows.add(data.list_matkul).draw();
    }

    $("#card-form").prop("hidden", hidden ? true : false);
    $(".data_angkatan").removeClass("active-card"); // Hapus highlight dari card lain
    await isNoActiveCard();
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  async function generateDataContainers(data) {
    let sorted_data = data.sort((a, b) => {
      if (a.angkatan === "ALL") return -1;
      if (b.angkatan === "ALL") return 1;

      // Pastikan 'angkatan' adalah string sebelum dibandingkan
      return String(a.program_studi).localeCompare(String(b.program_studi));
    }); // sorting berdasarkan angkatan

    $(".data_angkatan").remove(); // hapus card dengan class 'data_angkatan' agar tidak terjadi double data

    await sorted_data.forEach((element) => {
      generateNewDataContainer(element); // buat card baru
    });

    await isNoActiveCard();
  }

  function generateNewDataContainer(data) {
    let tableId = data.u_id + "_tab"; // data.u_id + data.bidang_minat?data.bidang_minat:'' + "_tab"
    let slicedId = data.u_id.split("_");
    let kode_prodi = "-" + slicedId[2];
    let angkatan = "-" + (slicedId.length == 5 ? slicedId[4] : slicedId[3]);

    let bidang_minat =
      "-" +
      (data.bidang_minat
        ? data.bidang_minat
            .split(" ")
            .map((word) => word[0])
            .join("")
        : "");

    let bidang = data.bidang_minat
      ? `
          <div class="form-group row align-items-center">
            <label for=${
              "bidang_minat" + kode_prodi + bidang_minat + angkatan
            } class="col-2 col-form-label text-end fw-bold">
                Bidang Minat
            </label>
            <div class="col">
                <input type="text" class="form-control" id=${
                  "bidang_minat" + kode_prodi + bidang_minat + angkatan
                }
                    value="${data.bidang_minat}" autocomplete="off" disabled />
            </div>
          </div>
      `
      : ``;

    let program_studi = prodi
      ? ""
      : `
          <div class="form-group row align-items-center">
            <label for=${
              "prodi" + kode_prodi + bidang_minat + angkatan
            } class="col-2 col-form-label text-end fw-bold">
                Program Studi
            </label>
            <div class="col">
                <input type="text" class="form-control" id=${
                  "prodi" + kode_prodi + bidang_minat + angkatan
                }
                    value="${data.prodi}" autocomplete="off" disabled />
            </div>
          </div>
      `;

    // PASTIKAN BERSIH BIAR GA REINITIALIZE
    $("#card_" + data.u_id).remove();
    if ($.fn.DataTable.isDataTable("#" + tableId)) {
      $("#" + tableId)
        .DataTable()
        .clear()
        .destroy();
    }

    // Struktur tabel baru
    let tableHtml = `
            <div class="card data_angkatan" id="${"card_" + data.u_id}">
                <div class="card-body">
                <div class="form-group row d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-success col-3 btn-edit"
                    style="display: none"
                    onclick="editData()"
                  >
                    <i class="fas fa-pen-to-square fa-fw"></i><span> Edit Data</span>
                  </button>
                  <label class="col-1"></label>
                  <button
                    type="button"
                    class="btn btn-danger col-3 btn-hapus"
                    style="display: none"
                    onclick="hapusData()"
                  >
                    <i class="fas fa-trash fa-fw"></i><span> Hapus Data</span>
                  </button>
                </div>
                <div class="form-group row align-items-center">
                    <div class="mt-2 d-flex justify-content-end align-items-center" style="padding-bottom: 10px">
                        <button type="button" id="${
                          "simpan_group" + kode_prodi + angkatan
                        }" class="btn btn-primary me-2" style="display: none;">
                            <i class="fas fa-plus fa-fw"></i><span> Simpan Perubahan</span>
                        </button>
                        <button type="button" id="${
                          "hapus_group" + kode_prodi + angkatan
                        }" class="btn btn-primary" style="display: none;">
                            <i class="fas fa-plus fa-fw"></i><span> Hapus Matkul</span>
                        </button>
                    </div>

                    <label for="${
                      "angkatan" + kode_prodi + bidang_minat + angkatan
                    }" class="col-2 col-form-label text-end fw-bold">
                        Angkatan
                    </label>
                    <div class="col-2">
                        <input type="text" class="form-control text-center" id="${
                          "angkatan" + kode_prodi + bidang_minat + angkatan
                        }"
                            value="${
                              data.angkatan
                            }" autocomplete="off" disabled />
                    </div>

                    <div class="col"></div>

                    <label for="${
                      "jumlah_mahasiswa" + kode_prodi + bidang_minat + angkatan
                    }" class="col-4 col-form-label text-end">
                        Jumlah Mahasiswa Aktif
                    </label>
                    <div class="col-2">
                        <input type="text" class="form-control numberOnly" id="${
                          "jumlah_mahasiswa" +
                          kode_prodi +
                          bidang_minat +
                          angkatan
                        }"
                            value="${
                              data.jumlah_mahasiswa
                            }" autocomplete="off" disabled />
                    </div>
                </div>

                ${program_studi}
                ${bidang}

                <div class="table-responsive">
                    <table class="table table-bordered table-striped w-100" id="${tableId}">
                    <thead>
                        <th>Kode</th>
                        <th>Nama</th>
                        <th>SKS A</th>
                        <th>SKS B</th>
                        <th>Jumlah Kelas</th>
                    </thead>
                    <tbody></tbody>
                      <tfoot>
                        <tr>
                          <th colspan="2">Jumlah SKS :</th>
                          <th></th>
                          <th></th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                </div>
                </div>
            </div>
        `;

    // Tambahkan tabel baru ke dalam container
    if (!document.getElementById("card_" + data.u_id)) {
      $("#tableContainer").append(tableHtml);
    }

    // Inisialisasi DataTable
    $("#" + tableId).DataTable({
      scrollX: true,
      scrollY: "25vh",
      scrollCollapse: true,
      paging: false,
      responsive: true,
      ordering: false,
      searching: false,
      info: false,
      data: data.list_matkul, // Pastikan data dikirim ke DataTable
      columns: [
        { data: "kode", width: "75px", defaultContent: "" },
        { data: "nama", width: "300px", defaultContent: "" },
        {
          data: "sks_akademik",
          width: "50px",
          className: "text-end",
          defaultContent: "",
        },
        {
          data: "sks_bayar",
          width: "50px",
          className: "text-end",
          defaultContent: "",
        },
        {
          data: "jumlah_kelas",
          width: "50px",
          className: "text-end",
          defaultContent: "",
        },
      ],
      footerCallback: function (row, data, start, end, display) {
        let api = this.api();

        // Total over all pages
        total_sks_akademik = api
          .column(2)
          .data()
          .reduce((a, b) => Number(a) + Number(b), 0);
        total_sks_bayar = api
          .column(3)
          .data()
          .reduce((a, b) => Number(a) + Number(b), 0);

        // Update footer
        api.column(2).footer().innerHTML = total_sks_akademik;
        api.column(3).footer().innerHTML = total_sks_bayar;
      },
    });
  }

  $("#input_matkul").on("keydown", async function (event) {
    if (event.key === "F9") {
      event.preventDefault();
      $("#modal-matkul").modal("show");
      $("#table-lov-matkul_filter input").focus(); // focus ke field search saat modal matkul dibuka
    } else if (event.key === "Enter" && this.value.length >= 3) {
      event.preventDefault();
      let resultData = matkul_lov
        .data()
        .toArray()
        .filter(
          (matkul) =>
            matkul.kode.includes(this.value) || matkul.nama.includes(this.value)
        );

      if (resultData.length === 1) await setMatkul(resultData[0]);
      else if (resultData.length > 1) {
        let infoData = [];
        resultData.forEach((element) => {
          if (
            !matkul_tab
              .data()
              .toArray()
              .find((matkul) => matkul.kode == element.kode)
          )
            infoData.push(element);
        });

        if (infoData.length > 1) {
          let selectOptions = infoData
            .map((data) => `<option value="${data.kode}">${data.nama}</option>`)
            .join("");

          Swal.fire({
            title: "Mata Kuliah Mana?",
            text: "Hasil pencarian jamak. Mata Kuliah mana yang anda maksud?",
            icon: "question",
            html: `
                <select id="swal-select" class="form-select">
                  <option value="">-- Pilih --</option>
                  ${selectOptions}
                </select>
              `,
            showCancelButton: true,
            confirmButtonText: "OK",
            preConfirm: () => {
              const selected = document.getElementById("swal-select").value;
              if (!selected) {
                Swal.showValidationMessage("Silakan pilih salah satu opsi.");
              }
              return selected;
            },
          }).then(async (result) => {
            if (result.isConfirmed) {
              let picked = resultData.find(
                (matkul) => matkul.kode == result.value
              );
              await setMatkul(picked);
            }
          });
        } else await setMatkul(infoData[0]);
      } else
        await popUpTimer(
          "error",
          "Data tidak ditemukan!",
          "Jika bersikeras, harap tambahkan data terlebih dahulu.",
          2000
        );

      this.value = "";
    } else if (event.key === "Enter")
      popUpTimer("info", "Input minimal 3 karakter!");
  });

  $("#btn-simpan").on("click", async function () {
    if (!$("#input_angkatan").val()) {
      await popUpTimer("error", "Input Angkatan belum diisi!");
      setTimeout(() => {
        $("#input_angkatan").focus();
      }, 1100);
      return;
    } else if (
      !$("#input_jumlah_mahasiswa").val() &&
      $("#input_angkatan").val() !== "All"
    ) {
      await popUpTimer("error", "Jumlah Mahasiswa Aktif belum diisi!");
      setTimeout(() => {
        $("#input_jumlah_mahasiswa").focus();
      }, 1100);
      return;
    } else if (matkul_tab.data().toArray().length === 0) {
      await popUpTimer(
        "error",
        "Belum ada matkul yang dibuka untuk semester ini!"
      );
      setTimeout(() => {
        $("#input_matkul").focus();
      }, 1100);
      return;
    }

    params = {
      angkatan: $("#input_angkatan").val(),
      jumlah_mahasiswa: Number($("#input_jumlah_mahasiswa").val()),
      prodi: $("#input_prodi").val(),
      bidang_minat: $("#input_bidang_minat").val(),
      list_matkul: getDatatableData(matkul_tab),
    };

    $.ajax({
      type: "POST",
      url: "/mata_kuliah_pilihan/post_matkul",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ post_matkul ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          Object.assign(params, { u_id: res["data"] });
          data_angkatan.push(params); // update data_angkatan
          generateDataContainers(data_angkatan);
        }
      },
    });
  });

  $("#btn-update").on("click", async function () {
    if (!$("#input_angkatan").val()) {
      await popUpTimer("error", "Input Angkatan belum diisi!");
      setTimeout(() => {
        $("#input_angkatan").focus();
      }, 1100);
      return;
    } else if (
      !$("#input_jumlah_mahasiswa").val() &&
      $("#input_angkatan").val() !== "All"
    ) {
      await popUpTimer("error", "Jumlah Mahasiswa Aktif belum diisi!");
      setTimeout(() => {
        $("#input_jumlah_mahasiswa").focus();
      }, 1100);
      return;
    } else if (matkul_tab.data().toArray().length === 0) {
      await popUpTimer(
        "error",
        "Belum ada matkul yang dibuka untuk semester ini!"
      );
      setTimeout(() => {
        $("#input_matkul").focus();
      }, 1100);
      return;
    }

    params = {
      angkatan: $("#input_angkatan").val(),
      jumlah_mahasiswa: Number($("#input_jumlah_mahasiswa").val()),
      prodi: $("#input_prodi").val(),
      bidang_minat: $("#input_bidang_minat").val(),
      list_matkul: getDatatableData(matkul_tab),
    };

    $.ajax({
      type: "POST",
      url: "/mata_kuliah_pilihan/put_matkul",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.clear();
        console.log("[ put_matkul ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          Object.assign(params, { u_id: res["data"] });

          // Mencari indeks elemen dengan angkatan '2021'
          let index = data_angkatan.findIndex(
            (item) =>
              item.angkatan === params.angkatan &&
              item.bidang_minat === params.bidang_minat
          );

          // Jika ditemukan, ganti elemen tersebut, jika tidak, tambahkan data baru
          if (index !== -1) {
            data_angkatan[index] = params;
          } else {
            data_angkatan.push(params);
          }

          generateDataContainers(data_angkatan);
        }
      },
    });
  });

  $("#btn-hapusMatkul").on("click", async function () {
    let selectedData = [];
    let selectedRow = [];

    $("input[name='cbMatkulTab']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = matkul_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedRow.push(row[0]._DT_RowIndex);
        selectedData.push(rowData);
      }
    });

    let decision = await Swal.fire({
      title: "Yakin akan hapus matkul ini?",
      text: "[ " + selectedData.map((x) => x.kode) + " ]",
      showCancelButton: true,
      confirmButtonText: "Yakin",
      cancelButtonText: "Batalkan",
    }).then((result) => {
      if (result.isConfirmed) {
        $('input[name="cbMatkulTabAll"]').prop("checked", false);
        document.getElementById("btn-hapusMatkul").style.display = "none";
        return matkul_tab.rows(selectedRow).remove().draw(false);
      } else if (result.isDismissed) {
        return false;
      }
    });
  });

  async function editData() {
    let cardId = $(".active-card").attr("id");
    if (cardId) {
      let cardElement = $("#" + cardId);
      let slicedId = cardId.substring(5).split("_");

      let tableId = cardId.substring(5) + "_tab";
      let inputs = cardElement.find("input, select, textarea"); // Ambil semua input
      let kode_prodi = slicedId[2];
      let angkatan = slicedId.length == 5 ? slicedId[4] : slicedId[3];

      let inputData = {};
      inputs.each(function () {
        let name = $(this).attr("id"); // Gunakan name atau id sebagai key
        let value = $(this).val();
        inputData[name.split("-")[0]] = value;
      });
      inputData["list_matkul"] = $("#" + tableId)
        .DataTable()
        .data()
        .toArray();

      form_matkul(true, false, inputData);
    }
  }

  async function hapusData() {
    let cardId = $(".active-card").attr("id");
    if (cardId) {
      let cardElement = $("#" + cardId);
      let slicedText = cardId.substring(5).split("_");
      // prodi + bidang + angkatan
      let decisionText = [slicedText[2]]
        .concat(
          slicedText.length == 5
            ? [slicedText[3], slicedText[4]]
            : slicedText[3]
        )
        .join(" - ");

      let decision = await Swal.fire({
        title: "Yakin akan hapus data ini?",
        text: "data: " + decisionText,
        showCancelButton: true,
        confirmButtonText: "Yakin",
        cancelButtonText: "Batalkan",
      }).then((result) => {
        if (result.isConfirmed) {
          return true;
        } else if (result.isDismissed) {
          return false;
        }
      });

      console.log("decision", decision);

      if (decision === true) {
        $.ajax({
          type: "POST",
          url: "/mata_kuliah_pilihan/delete_data",
          cache: false,
          data: JSON.stringify(cardId),
          beforeSend: () => {
            showLoading();
          },
          complete: () => {
            hideLoading();
          },
          success: async function (res) {
            console.log("[ post_kelompok ] ", res);
            if (res.status === false) {
              popUpTimer("error", res.message);
            } else {
              popUpTimer("success", res.message);
              data_angkatan = data_angkatan.filter(
                (item) => item.u_id !== cardId.slice(5)
              ); // update data_angkatan
              cardElement.remove(); // hapus card

              await isNoActiveCard();

              $("#btn-batal").click();
            }
          },
        });
      }
    }
  }

  async function setMatkul(data) {
    let greenFlag = true;
    let jmlSks = await countSksinDatatable();

    if (
      matkul_tab
        .data()
        .toArray()
        .find((matkul) => matkul.kode === data.kode)
    )
      return popUpTimer("error", "Mata Kuliah ini sudah ditambahkan!");

    let final_sks = await (jmlSks + data.sks_akademik);

    if (final_sks > maks_sks) {
      await Swal.fire({
        title: "Jumlah SKS sudah mencapai batas maksimum: " + jmlSks + " sks!",
        text: "Apakah anda yakin ingin tetap menambahkan mata kuliah ini?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Tambahkan",
        cancelButtonText: "Batalkan",
      }).then((result) => {
        if (result.isConfirmed) {
          greenFlag = true;
        } else if (result.isDismissed) {
          greenFlag = false;
        }
      });
    }

    if (greenFlag) matkul_tab.row.add(data).draw(false);
    return greenFlag ?? false;
  }

  async function countSksinDatatable() {
    let jmlSks = 0;
    let dataBfr = matkul_tab.data().toArray();

    await dataBfr.forEach((element) => {
      jmlSks += element.sks_akademik;
    });

    return jmlSks;
  }

  async function changedProdi(program_studi) {
    matkul_lov.ajax.reload();

    // bidang minat
    await $.ajax({
      type: "GET",
      url: "/mata_kuliah_pilihan/get_bidang_minat",
      cache: false,
      data: { prodi: program_studi },
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        let bidang_minat = res.data.bidang_minat;
        maks_sks = res.data.maks_sks;

        if (bidang_minat.length) {
          $("#input_bidang_minat").prop("disabled", false);

          await bidang_minat.forEach((element) => {
            $("#input_bidang_minat").append(
              `<option value="` + element + `">` + element + `</option>`
            );
          });
        } else {
          $("#input_bidang_minat").prop("disabled", true);
        }
      },
    });
  }

  $("#input_search").on("input", function () {
    let value = $(this).val().toLowerCase();

    if (value) {
      let searchRegex = new RegExp(value, "i"); // i = ignore case

      let result = data_angkatan
        .filter((obj) =>
          Object.values(obj).some(
            (val) => typeof val === "string" && searchRegex.test(val)
          )
        )
        .map((obj) => obj.u_id);

      data_angkatan.forEach((element) => {
        result.includes(element.u_id)
          ? $("#card_" + element.u_id).prop("hidden", false)
          : $("#card_" + element.u_id).prop("hidden", true);
      });
    } else
      data_angkatan.forEach((element) => {
        $("#card_" + element.u_id).prop("hidden", false);
      });
  });

  // CHECKBOX
  // Event ketika cbMatkulTabAll di-click
  $('input[name="cbMatkulTabAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbMatkulTab"]').prop("checked", isChecked);

    document.getElementById("btn-hapusMatkul").style.display = isChecked
      ? "inline-block"
      : "none";
  });

  // Event ketika salah satu cbMatkulTab di-click
  $(document).on("change", 'input[name="cbMatkulTab"]', function () {
    let allChecked =
      $('input[name="cbMatkulTab"]').length ===
      $('input[name="cbMatkulTab"]:checked').length;
    $('input[name="cbMatkulTabAll"]').prop("checked", allChecked);

    let anyChecked = $('input[name="cbMatkulTab"]:checked').length > 0;
    document.getElementById("btn-hapusMatkul").style.display = anyChecked
      ? "inline-block"
      : "none";
  });

  // DATATABLEs
  let matkul_tab = $("#table_matkul").DataTable({
    scrollX: true,
    scrollY: "25vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    searching: false,
    info: false,
    columns: [
      {
        data: null,
        width: "10px",
        className: "text-center",
        render: function (data, type, row) {
          return `
                  <input type="checkbox" name="cbMatkulTab"/>
                `;
        },
      },
      {
        data: "kode",
        width: "75px",
        defaultContent: "",
      },
      {
        data: "nama",
        width: "300px",
        defaultContent: "",
      },
      {
        data: "sks_akademik",
        width: "50px",
        className: "text-end",
        defaultContent: "",
      },
      {
        data: "sks_bayar",
        width: "50px",
        className: "text-end",
        defaultContent: "",
      },
      {
        data: "jumlah_kelas",
        width: "50px",
        defaultContent: "",
      },
    ],
    footerCallback: function (row, data, start, end, display) {
      let api = this.api();

      // Total over all pages
      total_sks_akademik = api
        .column(3)
        .data()
        .reduce((a, b) => Number(a) + Number(b), 0);
      total_sks_bayar = api
        .column(4)
        .data()
        .reduce((a, b) => Number(a) + Number(b), 0);

      // Update footer
      api.column(3).footer().innerHTML = total_sks_akademik;
      api.column(4).footer().innerHTML = total_sks_bayar;
    },
    createdRow: function (row, data) {
      // Convert all text columns into input fields dynamically
      $(row)
        // .find("td:not(:first-child)")
        .find("td")
        .each(function (index) {
          let columnData = matkul_tab.column(index).dataSrc();
          if (columnData === null) return;

          if (columnData == "jumlah_kelas")
            $(this).html(
              `<input type="text" class="form-control text-end numberOnly"value="${
                data[columnData] || ""
              }"/>`
            );
        });
    },
  });

  let matkul_lov = $("#table-lov-matkul").DataTable({
    scrollX: true,
    scrollY: "40vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_mata_kuliah/get_matkul_by_prodi",
      data: function (d) {
        return {
          prodi: prodi ? prodi : $("#input_prodi").val(),
        };
      },
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      {
        data: "kode",
        width: "75px",
      },
      {
        data: "nama",
        width: "300px",
      },
    ],
  });
</script>
{% endblock %}
