{% extends "layout.html" %} {% block content %}
<style>
  .input-container {
    position: relative;
    display: inline-block;
  }

  .form-control.has-unit {
    padding-right: 35px; /* Memberi ruang untuk unit GB */
  }

  .input-unit {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Agar tidak menghalangi klik pada input */
  }
</style>

<div class="card" id="card-form" hidden>
  <!-- hidden -->
  <div class="card-body">
    <form role="form" class="form-horizontal row" id="frm">
      <div class="row">
        <h4 id="formTitle"></h4>
      </div>
      <!-- KODE -->
      <div class="form-group row">
        <label for="input_kode" class="col-2 col-form-label text-end"
          >Kode<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control"
            id="input_kode"
            placeholder="Kode Ruangan"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- KODE END -->
      <!-- TIPE RUANGAN -->
      <div class="form-group row">
        <label for="rbTipeKelas" class="col-2 col-form-label text-end"
          >Tipe Kelas<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col d-flex align-items-center">
          <div class="radio-group pe-5">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelas"
                id="TEORI"
                value="TEORI"
                checked
              />
              <label for="TEORI" class="form-check-label">Teori</label>
            </div>
          </div>
          <div class="radio-group px-5">
            <div class="form-check form-check-inline">
              <input
                type="radio"
                class="form-check-input"
                name="rbTipeKelas"
                id="PRAKTIKUM"
                value="PRAKTIKUM"
              />
              <label for="PRAKTIKUM" class="form-check-label">Praktikum</label>
            </div>
          </div>
        </div>
      </div>
      <!-- TIPE RUANGAN END -->
      <!-- KAPASITAS -->
      <div class="form-group row">
        <label for="input_kapasitas" class="col-2 col-form-label text-end"
          >Kapasitas<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly"
            id="input_kapasitas"
            placeholder="Kapasitas Ruangan"
            autocomplete="off"
          />
        </div>
      </div>
      <!-- KAPASITAS END -->
      <!-- PROGRAM STUDI -->
      <div class="form-group row">
        <label for="input_prodi" class="col-2 col-form-label text-end"
          >Program Studi&ensp;</label
        >
        <div class="col">
          <select class="form-select" id="input_prodi">
            <option value="default">-- Pilih Program Studi --</option>
            <option value="GENERAL">GENERAL</option>
            {% for prodi in session['user']['list_prodi'] %}
            <option value="{{ prodi }}">{{ prodi }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- PROGRAM STUDI END -->
      <!-- PLOT -->
      <div class="form-group row">
        <label for="input_plot" class="col-2 col-form-label text-end"
          >Plot&ensp;</label
        >
        <div class="col input-group">
          <input
            type="text"
            class="form-control"
            id="input_plot"
            autocomplete="off"
            placeholder="Input data plot ruangan"
          />
          <button
            type="button"
            class="btn btn-danger"
            onclick="clearBadge('field_plot', 'list_plot')"
          >
            Hapus Data
          </button>
        </div>
      </div>
      <div class="form-group row" id="field_plot" hidden>
        <label for="input_plot" class="col-2 col-form-label"></label>
        <div class="col" id="list_plot"></div>
      </div>
      <!-- PLOT END -->
      <!-- FORM ACTION -->
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="btn-simpan">
          Simpan
        </button>
        <button type="button" class="btn btn-primary" id="btn-update">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-batal"
          onclick="form_ruang(undefined, true)"
        >
          Batal
        </button>
      </div>
      <!-- FORM ACTION END-->
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-tambah"
      onclick="form_ruang(false)"
    >
      <i class="fas fa-plus fa-fw"></i><span> Tambah Data</span>
    </button>
    <button type="button" class="btn btn-danger" id="btn-hapus">
      <i class="fas fa-trash fa-fw"></i><span> Hapus Data</span>
    </button>

    <div class="table-responsive">
      <table
        class="table table-bordered table-stripped table-hover w-100"
        id="table_kelas"
      >
        <thead>
          <th><input type="checkbox" name="cbKelasTabAll" /></th>
          <th>Kode</th>
          <th>Kapasitas</th>
          <th>Lab</th>
          <th>Prodi</th>
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const list_prodi = JSON.parse(
    `{{ session['user']['list_prodi'] | safe }}`.replace(/'/g, '"')
  ).concat(["default", "GENERAL"]);

  $(document).ready(function () {
    setTimeout(() => {
      $.fn.dataTable
        .tables({
          visible: true,
          api: true,
        })
        .columns.adjust();
    }, 3000);

    // auto blur input - 9 June
    $("input").on("keydown", function (event) {
      if (event.key === "Enter") $(this).blur();
    });

    // $("#cbLab").on("change", function () {
    //   isChecked = $(this).prop("checked");
    //   $(".labSpecification").attr("hidden", !isChecked);
    // });
  });

  function clear_form() {
    $("#frm")[0].reset();
    $("#card-form span.badge").remove();
    $("#field_plot").attr("hidden", true);
  }

  async function form_ruang(
    update = undefined,
    hidden = false,
    data = undefined
  ) {
    await clear_form();
    if (update === false) {
      document.getElementById("formTitle").innerText = "Tambah Data";
      $("#card-form input").prop("disabled", false);
      $("#btn-simpan").attr("hidden", false);
      $("#btn-update").attr("hidden", true);
    } else {
      document.getElementById("formTitle").innerText = "Update Data";
      $("#input_kode").prop("disabled", true);
      $("#btn-simpan").attr("hidden", true);
      $("#btn-update").attr("hidden", false);
    }
    if (data) {
      $("#input_kode").val(data.kode);
      $("#" + data.tipe_ruangan).prop("checked", true);
      $("#input_kapasitas").val(data.kapasitas);
      $("#input_prodi").val(data.prodi ?? "default");
      if (data.plot)
        data.plot.forEach((element) => {
          addBadge("field_plot", "list_plot", element);
        });
    }
    $("#card-form").prop("hidden", hidden ? true : false);
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  $("#btn-simpan").on("click", function () {
    if (!$("#input_kode").val()) {
      popUpTimer("error", "Kode Ruangan belum diisi!");
      setTimeout(() => {
        $("#input_kode").focus();
      }, 1500);
      return;
    } else if (!$("#input_kapasitas").val()) {
      popUpTimer("error", "Kapasitas Ruangan belum diisi!");
      setTimeout(() => {
        $("#input_kapasitas").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbTipeKelas")[0]) {
      popUpTimer("error", "Tipe Kelas belum dipilih!");
      setTimeout(() => {
        $("#input_kapasitas").focus();
      }, 1500);
      return;
    }

    params = {
      kode: $("#input_kode").val(),
      kapasitas: Number($("#input_kapasitas").val()),
      prodi: $("#input_prodi").val(),
      tipe_ruangan: getCheckedItemValue("rbTipeKelas")[0],
      plot: retrieveBadgeValues("list_plot"),
    };

    $.ajax({
      type: "POST",
      url: "/data_ruangan/post_kelas",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: function (res) {
        if (res.status === false) {
          popUpTimer("error", res.message);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          kelas_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#btn-update").on("click", function () {
    if (!$("#input_kode").val()) {
      popUpTimer("error", "Kode Ruangan belum diisi!");
      setTimeout(() => {
        $("#input_kode").focus();
      }, 1500);
      return;
    } else if (!$("#input_kapasitas").val()) {
      popUpTimer("error", "Kapasitas Ruangan belum diisi!");
      setTimeout(() => {
        $("#input_kapasitas").focus();
      }, 1500);
      return;
    } else if (!getCheckedItemValue("rbTipeKelas")[0]) {
      popUpTimer("error", "Tipe Kelas belum dipilih!");
      setTimeout(() => {
        $("#input_kapasitas").focus();
      }, 1500);
      return;
    }

    params = {
      kode: $("#input_kode").val(),
      kapasitas: Number($("#input_kapasitas").val()),
      prodi: $("#input_prodi").val(),
      tipe_ruangan: getCheckedItemValue("rbTipeKelas")[0],
      plot: retrieveBadgeValues("list_plot"),
    };

    console.log(params);

    $.ajax({
      type: "POST",
      url: "/data_ruangan/put_kelas",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: function (res) {
        if (res.status === false) {
          popUpTimer("error", res.message);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          kelas_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#btn-hapus").on("click", async function () {
    let selectedData = [];

    $("input[name='cbKelasTab']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = kelas_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedData.push(rowData);
      }
    });

    if (!selectedData.length)
      return popUpTimer("error", "Tidak ada data untuk dihapus.");

    await hapusData(selectedData);
  });

  async function hapusData(list_data) {
    let decision = await Swal.fire({
      title: "Yakin akan hapus data ini?",
      showCancelButton: true,
      confirmButtonText: "Yakin",
      cancelButtonText: "Batalkan",
    }).then((result) => {
      if (result.isConfirmed) {
        return true;
      } else if (result.isDismissed) {
        return false;
      }
    });

    if (decision === true) {
      $.ajax({
        type: "POST",
        url: "/data_ruangan/delete_kelas",
        cache: false,
        data: JSON.stringify(list_data),
        beforeSend: () => {
          showLoading();
        },
        complete: () => {
          hideLoading();
        },
        success: function (res) {
          console.log("[ delete_kelas ] ", res);
          if (res.status === false) {
            popUpTimer("error", res.message);
          } else {
            popUpTimer("success", res.message);
            $('input[name="cbKelasTabAll"]').prop("checked", false);
            kelas_tab.ajax.reload(null, false);
          }
          $("#btn-batal").click();
        },
      });
    }
  }

  // $("input[name='rbTipeKelas']").on("change", function () {
  //   value = $(this).val();
  // });

  function detail_ruang(object) {
    let data = kelas_tab.row(object.closest("tr")).data();
    form_ruang(true, false, data);
  }

  $("#input_plot").on("keydown", function (event) {
    if (event.key === "Enter") {
      let user_input = $("#input_plot").val();
      if (user_input.length >= 3) {
        addBadge("field_plot", "list_plot", user_input);
        $("#input_plot").val("");
      } else popUpTimer("info", "Input minimal 3 karakter!");
    }
  });

  // Event ketika cbKelasTabAll di-click
  $('input[name="cbKelasTabAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbKelasTab"]').prop("checked", isChecked);
  });

  // Event ketika salah satu cbKelasTab di-click
  $(document).on("change", 'input[name="cbKelasTab"]', function () {
    let allChecked =
      $('input[name="cbKelasTab"]').length ===
      $('input[name="cbKelasTab"]:checked').length;
    $('input[name="cbKelasTabAll"]').prop("checked", allChecked);
  });

  let kelas_tab = $("#table_kelas").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_ruangan/get_kelas",
      cache: false,
      data: {},
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      {
        data: null,
        width: "10px",
        className: "text-center",
        render: function (data, type, row) {
          return `
              <input type="checkbox" name="cbKelasTab"/>
            `;
        },
      },
      {
        data: "kode",
        width: "75px",
        defaultContent: "",
      },
      {
        data: "kapasitas",
        width: "75px",
        defaultContent: "",
      },
      {
        data: "tipe_ruangan",
        width: "10px",
        defaultContent: "",
      },
      {
        data: "prodi",
        width: "300px",
        defaultContent: "",
      },
      {
        data: null,
        width: "10px",
        render: function () {
          return `<button class="btn btn-primary btn-sm" onclick="detail_ruang($(this))">Det</button>`;
        },
        // orderable: false,
        className: "text-center",
      },
    ],
  });
</script>
{% endblock %}
