{% extends "layout.html" %} {% block content %}
<!-- <div class="container-fluid mt-4" id="main-window"> -->
<div class="card" id="card-form" hidden>
  <div class="card-body">
    <form role="form" class="form-horizontal row" id="frm">
      <div class="row">
        <h4 id="formTitle"></h4>
      </div>
      <!-- NIP + STATUS -->
      <div class="form-group row">
        <label for="input_nip" class="col-2 col-form-label text-end"
          >NIP<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col-2">
          <input
            type="text"
            class="form-control numberOnly"
            id="input_nip"
            autocomplete="off"
            placeholder="Input NIP"
          />
        </div>
        <div class="col d-flex justify-content-end align-items-center">
          <label for="rbStatus" class="col-form-label text-end"
            >Status<span class="text-danger" aria-hidden="true">*</span></label
          >
          <input
            type="radio"
            name="rbStatus"
            id="TETAP"
            value="TETAP"
            class="ms-5 me-2"
          /><label class="form-check-label ms-2" for="Tetap"> Tetap </label>
          <input
            type="radio"
            name="rbStatus"
            id="TIDAK_TETAP"
            value="TIDAK_TETAP"
            class="ms-5 me-2"
          /><label class="form-check-label ms-2" for="Tidak Tetap">
            Tidak Tetap
          </label>
        </div>
      </div>
      <!-- NIP + STATUS END -->
      <!-- NAMA -->
      <div class="form-group row">
        <label for="input_nama" class="col-2 col-form-label text-end"
          >Nama<span class="text-danger" aria-hidden="true">*</span></label
        >
        <div class="col">
          <input
            type="text"
            class="form-control"
            id="input_nama"
            autocomplete="off"
            placeholder="Input nama dosen"
          />
        </div>
      </div>
      <!-- NAMA END -->
      <!-- PROGRAM STUDI -->
      <div class="form-group row">
        <label for="input_prodi" class="col-2 col-form-label text-end"
          >Program Studi<span class="text-danger" aria-hidden="true"
            >*</span
          ></label
        >
        <div class="col">
          <select class="form-select" id="input_prodi">
            <option value="">-- Pilih Program Studi --</option>
            {% for prodi in list_prodi %}
            <option value="{{ prodi }}">{{ prodi }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <!-- PROGRAM STUDI END -->
      <!-- PAKAR -->
      <div class="form-group row">
        <label for="input_pakar" class="col-2 col-form-label text-end"
          >Pakar&ensp;</label
        >
        <div class="col input-group">
          <input
            type="text"
            class="form-control"
            id="input_pakar"
            autocomplete="on"
            placeholder="Input data pakar dosen"
          />
          <button
            type="button"
            class="btn btn-danger"
            onclick="clearBadge('field_pakar', 'list_pakar')"
          >
            Hapus Data
          </button>
        </div>
      </div>
      <div class="form-group row" id="field_pakar" hidden>
        <label for="input_pakar" class="col-2 col-form-label"></label>
        <div class="col" id="list_pakar"></div>
      </div>
      <!-- PAKAR END -->
      <!-- MATKUL AJAR -->
      <div class="form-group row">
        <label for="input_matkul_ajar" class="col-2 col-form-label text-end"
          >Matkul Ajar&ensp;</label
        >
        <div class="col input-group">
          <input
            type="text"
            class="form-control"
            id="input_matkul_ajar"
            autocomplete="off"
            placeholder="Tekan 'F9' untuk lihat list matkul | Input kata kunci"
          />
          <button
            type="button"
            class="btn btn-danger"
            onclick="clearBadge('field_matkul_ajar', 'list_matkul_ajar')"
          >
            Hapus Data
          </button>
        </div>
      </div>
      <div class="form-group row" id="field_matkul_ajar" hidden>
        <label for="input_matkul_ajar" class="col-2 col-form-label"></label>
        <div class="col" id="list_matkul_ajar"></div>
      </div>
      <!-- MATKUL AJAR END -->
      <!-- PREFERENSI -->
      <div class="form-group row">
        <label for="cbPreferensi" class="col-2 col-form-label text-end"
          >Preferensi&ensp;</label
        >
        <div class="col d-flex align-items-center">
          <input type="checkbox" class="form-check-input" name="cbPreferensi" />
        </div>
      </div>

      <div class="form-group row preferensi_detail" hidden>
        <label for="input_hindari_hari" class="col-2 col-form-label text-end"
          >Hindari Hari&ensp;</label
        >
        <div class="col d-flex align-items-center">
          <div class="checkbox-group">
            <div class="form-check form-check-inline">
              <input
                type="checkbox"
                class="form-check-input"
                name="cbHari"
                id="SENIN"
                value="SENIN"
              />
              <label for="SENIN" class="form-check-label">Senin</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                type="checkbox"
                class="form-check-input"
                name="cbHari"
                id="SELASA"
                value="SELASA"
              />
              <label for="SELASA" class="form-check-label">Selasa</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                type="checkbox"
                class="form-check-input"
                name="cbHari"
                id="RABU"
                value="RABU"
              />
              <label for="RABU" class="form-check-label">Rabu</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                type="checkbox"
                class="form-check-input"
                name="cbHari"
                id="KAMIS"
                value="KAMIS"
              />
              <label for="KAMIS" class="form-check-label">Kamis</label>
            </div>

            <div class="form-check form-check-inline">
              <input
                type="checkbox"
                class="form-check-input"
                name="cbHari"
                id="JUMAT"
                value="JUMAT"
              />
              <label for="JUMAT" class="form-check-label">Jumat</label>
            </div>
          </div>
        </div>
      </div>
      <!-- PREFERENSI END -->
      <!-- FORM ACTION -->
      <div class="col text-end">
        <button type="button" class="btn btn-primary" id="btn-simpan">
          Simpan
        </button>
        <button type="button" class="btn btn-primary" id="btn-update">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          id="btn-batal"
          onclick="form_dosen(undefined, true)"
        >
          Batal
        </button>
        <button type="button" class="btn btn-danger" id="btn-hapus_individu">
          Hapus
        </button>
      </div>
      <!-- FORM ACTION END -->
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <button
      type="button"
      class="btn btn-primary"
      id="btn-tambah"
      onclick="form_dosen(false)"
    >
      <i class="fas fa-plus fa-fw"></i><span> Tambah Data</span>
    </button>
    <button type="button" class="btn btn-danger" id="btn-hapus">
      <i class="fas fa-trash fa-fw"></i><span> Hapus Data</span>
    </button>

    <div class="table-responsive">
      <table
        class="table table-bordered table-stripped table-hover w-100"
        id="table_dosen"
      >
        <thead>
          <th><input type="checkbox" name="cbDosenTabAll" /></th>
          <th>NIP</th>
          <th>Nama</th>
          <th>Pakar</th>
          {% if not prodi %}
          <th>Program Studi</th>
          {% endif %}
          <th></th>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- MODAL LOV MATKUL -->
<div class="modal fade" id="modal-matkul">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">List Mata Kuliah</h4>
        <button type="button" class="close" data-bs-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-hover table-bordered w-100"
          style="overflow: auto"
          id="table_lov_matkul"
        >
          <thead>
            <th>Kode</th>
            <th>Nama</th>
          </thead>
        </table>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default pull-left"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- MODAL LOV MATKUL END -->
{% endblock %} {% block script %}
<script>
  const prodi = "{{ prodi | safe }}";
  $(document).ready(function () {
    $("#modal-matkul tbody").on("click", "tr", async function () {
      let row = matkul_lov.row(this).data();
      $("#modal-matkul").modal("hide");
      await addBadge("field_matkul_ajar", "list_matkul_ajar", row.nama);
    });
  });

  function clear_form() {
    $("#frm")[0].reset();
    $("#card-form span.badge").remove();
    $("#field_pakar").attr("hidden", true);
    $("#field_matkul_ajar").attr("hidden", true);
    $(".preferensi_detail").attr("hidden", true);
  }

  async function form_dosen(
    update = undefined,
    hidden = false,
    data = undefined
  ) {
    await clear_form();
    window.scrollTo({ top: 0, behavior: "smooth" });
    if (update === false) {
      document.getElementById("formTitle").innerText = "Tambah Data";
      $("#card-form input").prop("disabled", false);
      $("#btn-simpan").attr("hidden", false);
      $("#btn-hapus_individu").prop("hidden", true);
      $("#btn-update").attr("hidden", true);
    } else {
      document.getElementById("formTitle").innerText = "Update Data";
      $("#input_nip").prop("disabled", true);
      $("#btn-simpan").attr("hidden", true);
      $("#btn-hapus_individu").prop("hidden", false);
      $("#btn-update").attr("hidden", false);
    }

    if (prodi) {
      $("#input_prodi").prop("disabled", true);
      $("#input_prodi").val(prodi);
    }

    if (data) {
      $("#input_nip").val(data.nip);
      $("#input_nama").val(data.nama);
      $("#input_prodi").val(data.prodi);
      $("#" + data.status).prop("checked", true);
      $("input[name='cbPreferensi']").prop("checked", data.preferensi);
      if (data.pakar)
        data.pakar.forEach((element) => {
          addBadge("field_pakar", "list_pakar", element);
        });
      if (data.matkul_ajar)
        data.matkul_ajar.forEach((element) => {
          addBadge("field_matkul_ajar", "list_matkul_ajar", element);
        });
      $(".preferensi_detail").attr("hidden", data.preferensi ? false : true);
      if (data.preferensi && data.preferensi.hindari_hari) {
        data.preferensi.hindari_hari.forEach((element) => {
          $("#" + element).prop("checked", true);
        });
      }
    }

    if (!prodi && $("#input_prodi").val()) matkul_lov.ajax.reload();

    $("#card-form").prop("hidden", hidden ? true : false);
  }

  $("#btn-simpan").on("click", function () {
    if (!$("#input_nip").val()) {
      popUpTimer("error", "NIP belum diisi!");
      setTimeout(() => {
        $("#input_nip").focus();
      }, 1500);
      return;
    } else if (
      dosen_tab
        .data()
        .toArray()
        .some((item) => item.nip === $("#input_nip").val())
    ) {
      popUpTimer(
        "error",
        "Data dengan NIP " + $("#input_nip").val() + " sudah ada!"
      );
      form_dosen(false);
      return;
    } else if (!$("#input_nama").val()) {
      popUpTimer("error", "Nama belum diisi!");
      setTimeout(() => {
        $("#input_nama").focus();
      }, 1500);
      return;
    } else if (!$("input[name='rbStatus']:checked").val()) {
      popUpTimer("error", "Status Dosen belum diisi!");
      setTimeout(() => {
        $("input[name='rbStatus']").focus();
      }, 1500);
      return;
    }

    let params = {
      nip: $("#input_nip").val(),
      nama: $("#input_nama").val(),
      status: $("input[name='rbStatus']:checked").val(),
      prodi: $("#input_prodi").val(),
      pakar: retrieveBadgeValues("list_pakar"),
      matkul_ajar: retrieveBadgeValues("list_matkul_ajar"),
      preferensi: {
        value: getCheckedItemValue("cbPreferensi")[0],
        hindari_hari: getCheckedItemValue("cbHari"),
      },
    };

    $.ajax({
      type: "POST",
      url: "/data_dosen/post_dosen",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ post_dosen ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 1500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          dosen_tab.ajax.reload(null, false);
        }
      },
    });
  });

  $("#btn-update").on("click", function () {
    if (!$("#input_nip").val()) {
      popUpTimer("error", "NIP belum diisi!");
      setTimeout(() => {
        $("#input_nip").focus();
      }, 1500);
      return;
    } else if (
      !dosen_tab
        .data()
        .toArray()
        .some((item) => item.nip === $("#input_nip").val())
    ) {
      popUpTimer(
        "error",
        "Data dengan NIP " + $("#input_nip").val() + " tidak ditemukan!"
      );
      form_dosen(false);
      return;
    } else if (!$("#input_nama").val()) {
      popUpTimer("error", "Nama belum diisi!");
      setTimeout(() => {
        $("#input_nama").focus();
      }, 1500);
      return;
    } else if (!$("input[name='rbStatus']:checked").val()) {
      popUpTimer("error", "Status Dosen belum diisi!");
      setTimeout(() => {
        $("input[name='rbStatus']").focus();
      }, 1500);
      return;
    }

    let params = {
      nip: $("#input_nip").val(),
      nama: $("#input_nama").val(),
      status: $("input[name='rbStatus']:checked").val(),
      prodi: $("#input_prodi").val(),
      pakar: retrieveBadgeValues("list_pakar"),
      matkul_ajar: retrieveBadgeValues("list_matkul_ajar"),
      preferensi: {
        value: getCheckedItemValue("cbPreferensi")[0],
        hindari_hari: getCheckedItemValue("cbHari"),
      },
    };

    $.ajax({
      type: "POST",
      url: "/data_dosen/put_dosen",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("[ put_dosen ] ", res);
        if (res.status === false) {
          await popUpTimer("error", res.message);
          if (res.target)
            setTimeout(() => {
              $("#" + res.target).focus();
            }, 500);
        } else {
          $("#btn-batal").click();
          popUpTimer("success", res.message);
          dosen_tab.ajax.reload(null, false);
        }
      },
    });
  });

  async function hapusData(list_data) {
    let decision = await Swal.fire({
      title: "Yakin akan hapus data ini?",
      showCancelButton: true,
      confirmButtonText: "Yakin",
      cancelButtonText: "Batalkan",
    }).then((result) => {
      if (result.isConfirmed) {
        return true;
      } else if (result.isDismissed) {
        return false;
      }
    });

    if (decision === true) {
      $.ajax({
        type: "POST",
        url: "/data_dosen/delete_dosen",
        cache: false,
        data: JSON.stringify(list_data),
        beforeSend: () => {
          showLoading();
        },
        complete: () => {
          hideLoading();
        },
        success: function (res) {
          console.log("[ delete_dosen ] ", res);
          if (res.status === false) {
            popUpTimer("error", res.message);
          } else {
            popUpTimer("success", res.message);
            $('input[name="cbDosenTabAll"]').prop("checked", false);
            dosen_tab.ajax.reload(null, false);
          }
          $("#btn-batal").click();
        },
      });
    }
  }

  $("#btn-hapus_individu").on("click", async function () {
    let nip = $("#input_nip").val();
    await hapusData([{ nip: nip }]);
  });

  $("#btn-hapus").on("click", async function () {
    let selectedData = [];

    $("input[name='cbDosenTab']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = dosen_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedData.push(rowData);
      }
    });

    if (!selectedData.length)
      return popUpTimer("error", "Tidak ada data untuk dihapus.");

    await hapusData(selectedData);
  });

  function detail_dosen(object) {
    let data = dosen_tab.row(object.closest("tr")).data();
    form_dosen(true, false, data);
  }

  $("#input_prodi").on("change", function () {
    matkul_lov.ajax.reload();
  });

  $("#input_pakar").on("keydown", function (event) {
    if (event.key === "Enter") {
      let user_input = $("#input_pakar").val();
      if (user_input.length >= 3) {
        addBadge("field_pakar", "list_pakar", user_input);
        $("#input_pakar").val("");
      } else popUpTimer("info", "Input minimal 3 karakter!");
    }
  });

  $("#input_matkul_ajar").on("keydown", async function (event) {
    if (event.key === "F9") {
      event.preventDefault();
      $("#modal-matkul").modal("show");
      $("#table_lov_matkul_filter input").focus(); // focus ke field search saat modal matkul dibuka
    } else if (event.key === "Enter" && this.value.length >= 3) {
      event.preventDefault();
      let resultKode = matkul_lov
        .data()
        .toArray()
        .filter(
          (matkul) =>
            matkul.kode.includes(this.value) || matkul.nama.includes(this.value)
        );

      if (resultKode.length === 1)
        await addBadge(
          "field_matkul_ajar",
          "list_matkul_ajar",
          resultKode[0].nama
        );
      else if (resultKode.length > 1) {
        let infoData = [];
        resultKode.forEach((element) => {
          if (!retrieveBadgeValues("list_matkul_ajar").includes(element.nama))
            infoData.push(element);
        });

        if (infoData.length > 1) {
          let selectOptions = resultKode
            .map((data) => `<option value="${data.nama}">${data.nama}</option>`)
            .join("");

          Swal.fire({
            title: "Mata Kuliah Mana?",
            text: "Hasil pencarian jamak. Mata kuliah apa yang anda maksud?",
            icon: "question",
            html: `
                <select id="swal-select" class="form-select">
                  <option value="">-- Pilih --</option>
                  ${selectOptions}
                </select>
              `,
            showCancelButton: true,
            confirmButtonText: "OK",
            preConfirm: () => {
              const selected = document.getElementById("swal-select").value;
              if (!selected) {
                Swal.showValidationMessage("Silakan pilih salah satu opsi.");
              }
              return selected;
            },
          }).then((result) => {
            if (result.isConfirmed) {
              addBadge("field_matkul_ajar", "list_matkul_ajar", result.value);
            }
          });
        } else
          addBadge("field_matkul_ajar", "list_matkul_ajar", infoData[0].nama);
      } else
        await popUpTimer(
          "error",
          "Data tidak ditemukan!",
          "Jika bersikeras, harap tambahkan data terlebih dahulu.",
          2000
        );

      this.value = "";
    } else if (event.key === "Enter")
      popUpTimer("info", "Input minimal 3 karakter!");
  });

  // CHECKBOX
  $('input[name="cbPreferensi"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $(".preferensi_detail").attr("hidden", isChecked ? false : true);
  });

  // Event ketika cbDosenTabAll di-click
  $('input[name="cbDosenTabAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbDosenTab"]').prop("checked", isChecked);
  });

  // Event ketika salah satu cbDosenTab di-click
  $(document).on("change", 'input[name="cbDosenTab"]', function () {
    let allChecked =
      $('input[name="cbDosenTab"]').length ===
      $('input[name="cbDosenTab"]:checked').length;
    $('input[name="cbDosenTabAll"]').prop("checked", allChecked);
  });

  // DATATABLE
  let dosen_tab_column = [
    {
      data: null,
      width: "10px",
      render: function (data, type, row) {
        return `
          <input type="checkbox" name="cbDosenTab"/>
        `;
      },
    },
    {
      data: "nip",
      width: "75px",
      defaultContent: "",
    },
    {
      data: "nama",
      width: "300px",
      defaultContent: "",
    },
    {
      data: "pakar",
      width: "",
      defaultContent: "",
    },
    {
      data: null,
      width: "10px",
      render: function () {
        return `<button class="btn btn-primary btn-sm" onclick="detail_dosen($(this))">Det</button>`;
      },
      // orderable: false,
      className: "text-center",
    },
  ];
  if (!prodi) {
    dosen_tab_column.splice(4, 0, {
      data: "prodi",
      width: "300px",
      defaultContent: "",
    });
  }

  let dosen_tab = $("#table_dosen").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_dosen/get_dosen",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: dosen_tab_column,
  });

  let matkul_lov = $("#table_lov_matkul").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    ajax: {
      type: "GET",
      url: "/data_mata_kuliah/get_matkul_by_prodi",
      data: function (d) {
        return {
          prodi: prodi ? prodi : $("#input_prodi").val(),
        };
      },
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
    },
    columns: [
      {
        data: "kode",
        width: "75px",
        defaultContent: "",
      },
      {
        data: "nama",
        width: "300px",
        defaultContent: "",
      },
    ],
  });
</script>
{% endblock %}
