{% extends "layout.html" %} {% block content %}
<div class="container-fluid mt-4" id="main-window">
  <div class="card close-able" id="card-list_prodi">
    <div class="card-body">
      <div class="row align-items-center justify-content-between mb-3">
        <h4 id="formTitle" class="col btn-toggle-card">
          <i class="fas fa-folder-open fa-fw toggle-icon me-2"></i
          ><span>Setting List Program Studi</span>
        </h4>
        <div class="col-auto text-end">
          <button type="button" class="btn btn-primary" id="btn-simpanProdi">
            Simpan
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="btn-hapusProdi"
            style="display: none"
          >
            Hapus
          </button>
          <button type="button" class="btn btn-secondary btn-batal">
            Clear
          </button>
        </div>
      </div>

      <div class="card-content">
        <form role="form" class="form-horizontal" id="frmDetail">
          <div class="form-group row">
            <label for="input-prodi_baru" class="col-3 col-form-label"
              >Program Studi Baru</label
            >
            <div class="input-group col">
              <input
                type="text"
                id="input-prodi_baru"
                class="form-control"
                placeholder="Masukkan nama Program Studi baru"
                autocomplete="off"
              />
              <button
                type="button"
                id="tambah_prodi"
                class="btn btn-primary"
                onclick="tambahProdi($('#input-prodi_baru').val())"
              >
                Tambah
              </button>
            </div>
            <div class="table-responsive">
              <table
                class="table table-bordered table-stripped table-hover w-100"
                id="table_prodi"
              >
                <thead>
                  <th><input type="checkbox" name="cbProdiAll" /></th>
                  <th>Program Studi</th>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const list_prodi = JSON.parse(`{{ list_prodi | tojson | safe }}`);
  var json_prodi = list_prodi.map((prodi) => ({
    prodi: prodi,
  }));

  $(document).ready(function () {
    const toggle_close_card = document.querySelectorAll(".btn-toggle-card");
    toggle_close_card.forEach((toggle) => {
      toggle.click();
    });

    $(document).on("click", ".btn-batal", function () {
      let form = $(this).closest(".card").find("form");
      form.find("input").each(function () {
        $(this).val("");
      });
    });
  });

  $("#input-prodi_baru").on("keydown", function (event) {
    if (event.key === "Enter") {
      tambahProdi($(this).val().trim());
      $("#input-prodi_baru").val("");
    }
  });

  function tambahProdi(data) {
    let newData = String(data).toUpperCase();
    let isExist = json_prodi.findIndex((prodi) => prodi.prodi === newData);
    if (isExist !== -1)
      return popUpTimer("error", "Data Program Studi ini sudah ada!");

    json_prodi.push({ prodi: newData });
    prodi_tab.clear().rows.add(json_prodi).draw(false);
  }

  $("#btn-simpanProdi").on("click", function () {
    $.ajax({
      type: "POST",
      url: "/update_prodi",
      cache: false,
      data: JSON.stringify(json_prodi),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          await popUpTimer("success", res.message);
        }
      },
    });
  });

  $("#btn-hapusProdi").on("click", function () {
    let selectedData = [];
    $("input[name='cbProdi']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = prodi_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedData.push(rowData.prodi);
      }
    });

    let filtered_data = json_prodi.filter(
      (prodi) => !selectedData.includes(prodi.prodi)
    );

    $.ajax({
      type: "POST",
      url: "/delete_prodi",
      cache: false,
      data: JSON.stringify(filtered_data),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          json_prodi = JSON.parse(JSON.stringify(filtered_data));
          prodi_tab.clear().rows.add(json_prodi).draw(false);
          await popUpTimer("success", res.message);
        }
      },
    });
  });

  // Event ketika cbProdiAll di-click
  $('input[name="cbProdiAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbProdi"]').prop("checked", isChecked);

    document.getElementById("btn-hapusProdi").style.display = isChecked
      ? "inline-block"
      : "none";
  });

  // Event ketika salah satu cbProdi di-click
  $(document).on("change", 'input[name="cbProdi"]', function () {
    let allChecked =
      $('input[name="cbProdi"]').length ===
      $('input[name="cbProdi"]:checked').length;
    $('input[name="cbProdiAll"]').prop("checked", allChecked);

    let anyChecked = $('input[name="cbProdi"]:checked').length > 0;
    document.getElementById("btn-hapusProdi").style.display = anyChecked
      ? "inline-block"
      : "none";
  });

  let prodi_tab = $("#table_prodi").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    searching: false,
    info: false,
    data: json_prodi,
    columns: [
      {
        data: null,
        width: "10%",
        className: "text-center",
        render: function (data, type, row) {
          return `
              <input type="checkbox" name="cbProdi"/>
            `;
        },
      },
      {
        data: "prodi",
        width: "",
      },
    ],
  });
</script>
{% endblock %}
