{% extends "layout.html" %} {% block content %}
<style>
  .circle-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .circle-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #dc3545; /* merah default */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3 5.7L12 12l6.3 6.3-1.4 1.4L12 13.4l-6.3 6.3-1.4-1.4L10.6 12 4.3 5.7 5.7 4.3 12 10.6 18.3 4.3z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    transition: all 0.2s;
  }

  .circle-checkbox input:checked + .checkmark {
    background-color: #28a745; /* hijau */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.2l-3.5-3.5-1.4 1.4L9 19 20.3 7.7l-1.4-1.4z'/%3E%3C/svg%3E");
  }

  .fully-disabled {
    pointer-events: none; /* Tidak bisa diklik */
    user-select: none; /* Tidak bisa di-select */
    /* opacity: 0.6; /* Opsional: buat tampak "dinonaktifkan" */
    cursor: default; /* Kursor biasa */
  }
</style>

<div class="container-fluid mt-4" id="main-window">
  <div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="text-label">
        <label
          >Jadwal Semester {{' '.join(semester_ajaran_depan.split('_'))}}</label
        >
      </div>
      <div class="button-group">
        <button
          type="button"
          class="btn btn-primary me-2"
          onclick="generate_jadwal()"
        >
          Generate
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="download_excel_by()"
        >
          Download Excel
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="card">
    <div class="card-body" id="setting_prodi_done"></div>
  </div> -->

  <div class="card-wrapper" id="setting_prodi_done"></div>
</div>
{% endblock %} {% block script %}
<script>
  const semester_ajaran_depan = "{{ semester_ajaran_depan | safe }}";
  const prodi = "{{ prodi | safe }}";
  var jadwal = "{{ jadwal | safe }}";

  $(document).ready(async function () {
    await setting_prodi_done();
  });

  function setting_prodi_done() {
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/get_simpanan_prodi",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        await res.data.forEach((prodi) => {
          isChecked = prodi.status ? "checked" : "";
          $("#setting_prodi_done").append(
            `<div class="card-responsive d-flex justify-content-between align-items-center fully-disabled">
              <div class="text-label"><label for="${prodi.prodi}">${prodi.prodi}</label></div>
                <div class="button-group"><label class="circle-checkbox">
                  <input type="checkbox" name="prodi_ready" id="${prodi.prodi}" ${isChecked}/>
                  <span class="checkmark"></span>
                </label></div>
              </div>`
          );
        });
      },
    });
  }

  async function generate_jadwal(generate_ulang = false) {
    if (!generate_ulang) {
      let unready = [];
      await $('input[name="prodi_ready"]').each(function () {
        if (!this.checked) {
          unready.push(this.id);
        }
      });

      if (unready.length > 0) {
        let lanjut = await Swal.fire({
          icon: "warning",
          title: "Prodi belum mengatur prodi yang akan dibuka!",
          text: unready,
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: "Hiraukan dan Cetak!",
          denyButtonText: "Batal Cetak",
        }).then((result) => {
          if (result.isConfirmed) return true;
          else if (result.isDenied) return false;
        });
        console.log(lanjut);

        if (!lanjut) return;
      }
    }

    param = {
      regenerate: generate_ulang,
    };
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/generate",
      data: param,
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("res ajax", res);

        if (res.status) export_to_excel("Jadwal_Kuliah");
        else {
          if (res.reason === "exist") {
            await Swal.fire({
              icon: "info",
              title: "Jadwal sudah pernah dibuat!",
              text: "Apakah mau buat ulang?",
              showDenyButton: true,
              showCancelButton: true,
              confirmButtonText: "Buat Ulang",
              denyButtonText: "Cetak ?",
              cancelButtonText: "Batal",
              confirmButtonColor: "#007bff",
              denyButtonColor: "#28a745",
            }).then((result) => {
              if (result.isConfirmed) {
                return generate_jadwal(true);
              } else if (result.isDenied) {
                return download_excel_by();
              } else {
                return;
              }
            });
          }
          popUpTimer("error", res.message);
        }
      },
    });
  }

  function download_excel_by() {
    Swal.fire({
      title: "Cetak apa?",
      showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: "Jadwal Kuliah",
      denyButtonText: `Jadwal Ruangan`,
      confirmButtonColor: "#007bff",
      denyButtonColor: "#28a745",
    }).then((result) => {
      if (result.isConfirmed) {
        export_to_excel("Jadwal_Kuliah");
      } else if (result.isDenied) {
        export_to_excel("Jadwal_Ruangan");
      }
    });
  }

  /**
   * @returns {link} - link download document
   */
  async function export_to_excel(downloadBy) {
    console.warn("downloading...");
    let filename = downloadBy + "_Semester-" + semester_ajaran_depan;
    console.log(filename);
    try {
      let params = {
        filename: filename,
        downloadBy: downloadBy.toLowerCase(),
      };

      const data = await $.ajax({
        type: "POST",
        url: "/export/export_to_excel",
        data: JSON.stringify(params),
        contentType: "application/json",
        xhrFields: {
          responseType: "blob",
        },
        beforeSend: () => {
          Swal.fire({
            html: `<p><b>Sedang Membuat File Laporan...</b></p><p style="text-align: center;">Jangan menutup halaman ini!</p>`,
            allowOutsideClick: false,
            allowEnterKey: false,
            allowEscapeKey: false,
            showConfirmButton: false,
            willOpen: (_) => {
              $("#modal_loading").modal("show");
            },
          });
        },
        complete: () => {
          $("#modal_loading").modal("hide");
        },
      });

      Swal.fire({
        title: "Sukses!",
        text: "Berhasil Download Laporan",
        icon: "success",
      });

      const url = URL.createObjectURL(data);
      const link = document.createElement("a");

      link.href = url;
      link.download = filename + ".xlsx";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    } catch (error) {
      popUpTimer("error", error.status, error.statusText);
    }
  }
</script>
{% endblock %}
