{% extends "layout.html" %} {% block content %}
<div class="container-fluid mt-4" id="main-window">
  <div class="card">
    <div class="card-body d-flex justify-content-between align-items-center">
      <div class="text-label">
        <label for=""
          >Jadwal Semester {{' '.join(semester_ajaran_depan.split('_'))}}</label
        >
      </div>
      <div class="button-group">
        <button
          type="button"
          class="btn btn-primary me-2"
          onclick="generate_jadwal()"
        >
          Generate
        </button>
        <button
          type="button"
          class="btn btn-success"
          onclick="download_excel_by()"
        >
          Download Excel
        </button>
      </div>
    </div>
  </div>

  <div class="card-wrapper" id="setting_prodi_done"></div>
</div>
{% endblock %} {% block script %}
<script>
  const semester_ajaran_depan = "{{ semester_ajaran_depan | safe }}";
  const prodi = "{{ prodi | safe }}";
  var jadwal = "{{ jadwal | safe }}";

  $(document).ready(function () {});

  var data;
  function setting_prodi_done() {
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/get_simpanan_prodi",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        let list_prodi = Object.keys(res.data);
        list_prodi.forEach((data) => {
          console.warn(data);
          $("#setting_prodi_done").append(
            `<div class="card-responsive">${data}</div>`
          );
        });
      },
    });
  }

  function generate_jadwal(generate_ulang = false) {
    param = {
      regenerate: generate_ulang,
    };
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/generate",
      data: param,
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        console.log("res ajax", res);

        if (res.status) export_to_excel("Jadwal_Kuliah");
        else {
          if (res.reason === "exist") {
            Swal.fire({
              icon: "info",
              title: "Jadwal sudah pernah dibuat!",
              text: "Apakah mau buat ulang?",
              showDenyButton: true,
              showCancelButton: false,
              confirmButtonText: "Buat Ulang",
              denyButtonText: "Batal",
            }).then((result) => {
              if (result.isConfirmed) {
                return generate_jadwal(true);
              } else if (result.isDenied) {
                return;
              }
            });
          }
          popUpTimer("error", res.message);
        }
      },
    });
  }

  function download_excel_by() {
    Swal.fire({
      title: "Cetak apa?",
      showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: "Jadwal Kuliah",
      denyButtonText: `Jadwal Ruangan`,
      confirmButtonColor: "#007bff",
      denyButtonColor: "#28a745",
    }).then((result) => {
      if (result.isConfirmed) {
        export_to_excel("Jadwal_Kuliah");
      } else if (result.isDenied) {
        export_to_excel("Jadwal_Ruangan");
      }
    });
  }

  /**
   * @returns {link} - link download document
   */
  async function export_to_excel(downloadBy) {
    console.warn("downloading...");
    let filename = downloadBy + "_Semester-" + semester_ajaran_depan;
    console.log(filename);
    try {
      let params = {
        filename: filename,
        downloadBy: downloadBy.toLowerCase(),
      };

      const data = await $.ajax({
        type: "POST",
        url: "/export/export_to_excel",
        data: JSON.stringify(params),
        contentType: "application/json",
        xhrFields: {
          responseType: "blob",
        },
        beforeSend: () => {
          Swal.fire({
            html: `<p><b>Sedang Membuat File Laporan...</b></p><p style="text-align: center;">Jangan menutup halaman ini!</p>`,
            allowOutsideClick: false,
            allowEnterKey: false,
            allowEscapeKey: false,
            showConfirmButton: false,
            willOpen: (_) => {
              $("#modal_loading").modal("show");
            },
          });
        },
        complete: () => {
          $("#modal_loading").modal("hide");
        },
      });

      Swal.fire({
        title: "Sukses!",
        text: "Berhasil Download Laporan",
        icon: "success",
      });

      const url = URL.createObjectURL(data);
      const link = document.createElement("a");

      link.href = url;
      link.download = filename + ".xlsx";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    } catch (error) {
      popUpTimer("error", error.status, error.statusText);
    }
  }
</script>
{% endblock %}
