{% extends "layout.html" %} {% block content %}
<div class="container-fluid mt-4" id="main-window">
  <div class="card">
    <div class="card-body">
      <small>Users List</small>
    </div>
  </div>

  <div class="card">
    <div class="card-body"></div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  $(document).ready(function () {});

  // $.ajax({
  //   type: "POST",
  //   url: "/user",
  //   cache: false,
  //   data: JSON.stringify({}),
  //   beforeSend: () => {
  //     console.log("beforesend ajax");
  //   },
  //   complete: () => {},
  //   success: async function (res) {
  //     console.log("res ajax", res);
  //     asd = res;
  //   },
  // });
  // testing_tab.clear().rows.add(asd).draw()

  // let testing_tab = $("#testing").DataTable({
  //   scrollX: true,
  //   scrollY: "50vh",
  //   scrollCollapse: true,
  //   paging: false,
  //   responsive: true,
  //   info: false,
  //   // ajax: {
  //   //   type: "POST",
  //   //   url: "/user",
  //   //   cache: false,
  //   //   data: {},
  //   //   beforeSend: () => {
  //   //     console.log("beforesend datatable");
  //   //   },
  //   //   complete: () => {},
  //   //   // success: function (res) {
  //   //   //   console.log("dtble", res);
  //   //   // },
  //   // },
  //   columns: [
  //     {
  //       data: "id",
  //     },
  //     {
  //       data: "name",
  //     },
  //     {
  //       data: "email",
  //     },
  //   ],
  // });
</script>
{% endblock %}
