{% extends "layout.html" %} {% block content %}
<style>
  .password-container {
    position: relative;
  }

  .password-toggle {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
  }

  .password-input {
    padding-right: 35px; /* Memberikan ruang untuk ikon mata */
  }

  .eye-open,
  .eye-closed {
    transition: all 0.2s ease;
  }

  .eye-closed {
    display: none;
  }
</style>

<div class="card close-able" id="card-general">
  <div class="card-body">
    <div class="row align-items-center justify-content-between mb-3">
      <h4 id="formTitle" class="col btn-toggle-card">
        <i class="fas fa-folder-open fa-fw toggle-icon me-2"></i
        ><span>General Setting</span>
      </h4>
      <div class="col-auto text-end">
        <button type="button" class="btn btn-primary" id="btn-simpanGeneral">
          Simpan
        </button>
        <button type="button" class="btn btn-secondary btn-batal">Clear</button>
      </div>
      <!-- <small class="text-danger ms-5">* maks sks</small> -->
    </div>

    <div class="card-content">
      <form role="form" class="form-horizontal" id="frmGeneral">
        <div class="form-group row">
          <label for="input-maks_sks" class="col-3 col-form-label"
            >Maks. SKS</label
          >
          <div class="col">
            <input
              type="text"
              class="form-control text-end numberOnly"
              id="input-maks_sks"
              value="{{ session['user'].get('maks_sks_prodi') }}"
              autocomplete="off"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card close-able" id="card-password">
  <div class="card-body">
    <div class="row align-items-center justify-content-between mb-3">
      <h4 id="formTitle" class="col btn-toggle-card">
        <i class="fas fa-folder-open fa-fw toggle-icon me-2"></i
        ><span>Ganti Password</span>
      </h4>
      <div class="col-auto text-end">
        <button type="button" class="btn btn-primary" id="btn-simpanPassword">
          Simpan
        </button>
        <button type="button" class="btn btn-secondary btn-batal">Clear</button>
      </div>
    </div>

    <div class="card-content">
      <form role="form" class="form-horizontal" id="frmPassword">
        <div class="form-group row mb-3">
          <label for="input-oldPassword" class="col-3 col-form-label"
            >Old Password</label
          >
          <div class="col password-container">
            <input
              type="password"
              class="form-control password-input sensitive-case"
              id="input-oldPassword"
              autocomplete="off"
            />
            <div class="password-toggle" data-target="input-oldPassword">
              <i class="fas fa-eye fa-fw eye-open"></i>
              <i class="fas fa-eye-slash fa-fw eye-closed"></i>

              <!-- <span class="eye-open">👁️</span>
            <span class="eye-closed">👁️‍🗨️</span> -->
            </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label for="input-newPassword" class="col-3 col-form-label"
            >New Password</label
          >
          <div class="col password-container">
            <input
              type="password"
              class="form-control password-input sensitive-case"
              id="input-newPassword"
              autocomplete="off"
            />
            <div class="password-toggle" data-target="input-newPassword">
              <i class="fas fa-eye fa-fw eye-open"></i>
              <i class="fas fa-eye-slash fa-fw eye-closed"></i>

              <!-- <span class="eye-open">👁️</span>
            <span class="eye-closed">👁️‍🗨️</span> -->
            </div>
          </div>
        </div>

        <div class="form-group row mb-3">
          <label for="input-verifyNewPassword" class="col-3 col-form-label"
            >Verify New Password</label
          >
          <div class="col password-container">
            <input
              type="password"
              class="form-control password-input sensitive-case"
              id="input-verifyNewPassword"
              autocomplete="off"
            />
            <div class="password-toggle" data-target="input-verifyNewPassword">
              <i class="fas fa-eye fa-fw eye-open"></i>
              <i class="fas fa-eye-slash fa-fw eye-closed"></i>

              <!-- <span class="eye-open">👁️</span>
            <span class="eye-closed">👁️‍🗨️</span> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card close-able" id="card-kelompok_mata_kuliah">
  <div class="card-body">
    <div class="row align-items-center justify-content-between mb-3">
      <h4 id="formTitle" class="col btn-toggle-card">
        <i class="fas fa-folder-open fa-fw toggle-icon me-2"></i
        ><span>Setting Kelompok Mata Kuliah</span>
      </h4>
      <div class="col-auto text-end">
        <button type="button" class="btn btn-primary" id="btn-simpanKelompok">
          Simpan
        </button>
        <button
          type="button"
          class="btn btn-danger"
          id="btn-hapusKelompok"
          style="display: none"
        >
          Hapus
        </button>
        <button type="button" class="btn btn-secondary btn-batal">Clear</button>
      </div>
    </div>

    <div class="card-content">
      <form role="form" class="form-horizontal" id="frmDetail">
        <div class="form-group row">
          <label for="input-kelompok_baru" class="col-3 col-form-label"
            >Kelompok Baru</label
          >
          <div class="input-group col">
            <input
              type="text"
              id="input-kelompok_baru"
              class="form-control"
              placeholder="Masukkan nama kelompok baru"
              autocomplete="off"
            />
            <button
              type="button"
              id="tambah_kelompok"
              class="btn btn-primary"
              onclick="tambahKelompok($('#input-kelompok_baru').val())"
            >
              Tambah
            </button>
          </div>
          <div class="table-responsive">
            <table
              class="table table-bordered table-stripped table-hover w-100"
              id="table_kelompok"
            >
              <thead class="text-center">
                <th><input type="checkbox" name="cbKelompokAll" /></th>
                <th>Kelompok Mata Kuliah</th>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const prodi = "{{ prodi | safe }}";
  const list_matkul = JSON.parse(`{{ kelompok_matkul | tojson | safe }}`);
  var json_matkul = list_matkul.map((kelompok) => ({
    kelompok_matkul: kelompok,
  }));

  $(document).ready(function () {
    document.addEventListener("DOMContentLoaded", function () {
      // Toggle password visibility
      const toggles = document.querySelectorAll(".password-toggle");

      toggles.forEach((toggle) => {
        toggle.addEventListener("click", function () {
          const targetId = this.getAttribute("data-target");
          const inputField = document.getElementById(targetId);
          const eyeOpen = this.querySelector(".eye-open");
          const eyeClosed = this.querySelector(".eye-closed");

          if (inputField.type === "password") {
            inputField.type = "text";
            eyeOpen.style.display = "none";
            eyeClosed.style.display = "inline";
          } else {
            inputField.type = "password";
            eyeOpen.style.display = "inline";
            eyeClosed.style.display = "none";
          }
        });
      });

      // Clear button functionality
      // document.querySelector(".btn-batal").addEventListener("click", function () {
      //   document.getElementById("input-oldPassword").value = "";
      //   document.getElementById("input-newPassword").value = "";
      //   document.getElementById("input-verifyNewPassword").value = "";
      // });
    });

    $(document).on("click", ".btn-batal", function () {
      let form = $(this).closest(".card").find("form");
      form.find("input").each(function () {
        $(this).val("");
      });
    });
  });

  $("#btn-simpanGeneral").on("click", function () {
    if (!$("#input-maks_sks").val()) {
      popUpTimer("error", "Tidak ada yang perlu disimpan");
      return;
    } else if ($("#input-maks_sks").val() > 50) {
      popUpTimer("error", "Beban SKS terlalu banyak!");
      return;
    }

    params = { maks_sks: Number($("#input-maks_sks").val()) };

    $.ajax({
      type: "POST",
      url: "/update_general",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          $("#frmPassword")[0].reset();
          $("#input-maks_sks").val(params["maks_sks"]);
          await popUpTimer("success", res.message);
        }
      },
    });
  });

  $("#btn-simpanPassword").on("click", function () {
    if (!$("#input-oldPassword").val()) {
      popUpTimer("error", "Silahkan isi password lama anda!");
      setTimeout(() => {
        $("#input-oldPassword").focus();
      }, 1500);
      return;
    } else if (!$("#input-newPassword").val()) {
      popUpTimer("error", "Silahkan isi password baru yang diinginkan!");
      setTimeout(() => {
        $("#input-newPassword").focus();
      }, 1500);
      return;
    } else if (!$("#input-verifyNewPassword").val()) {
      popUpTimer("error", "Silahkan verifikasi password baru anda!");
      setTimeout(() => {
        $("#input-verifyNewPassword").focus();
      }, 1500);
      return;
    } else if (
      $("#input-newPassword").val() === $("#input-oldPassword").val()
    ) {
      popUpTimer("error", "Silahkan masukkan password yang berbeda!");
      return;
    } else if (
      $("#input-newPassword").val() !== $("#input-verifyNewPassword").val()
    ) {
      popUpTimer("error", "Input password baru tidak cocok!");
      return;
    }

    params = {
      oldPassword: $("#input-oldPassword").val(),
      newPassword: $("#input-newPassword").val(),
      verifyNewPassword: $("#input-verifyNewPassword").val(),
    };

    $.ajax({
      type: "POST",
      url: "/password_verification",
      cache: false,
      data: JSON.stringify(params),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          $("#frmPassword")[0].reset();
          await popUpTimer("success", res.message);
          // window.location.href = res.redirect_url; // REMINDER: bebas pakai
        }
      },
    });
  });

  $("#input-kelompok_baru").on("keydown", function (event) {
    if (event.key === "Enter") {
      tambahKelompok($(this).val());
    }
  });

  function tambahKelompok(data) {
    let newData = String(data).toUpperCase();
    let isExist = json_matkul.findIndex(
      (kelompok) => kelompok.kelompok_matkul === newData
    );
    if (isExist !== -1) return;

    json_matkul.push({ kelompok_matkul: newData });
    kelompok_tab.clear().rows.add(json_matkul).draw(false);
    $("#input-kelompok_baru").val("");
  }

  $("#btn-simpanKelompok").on("click", function () {
    $.ajax({
      type: "POST",
      url: "/update_kelompok_matkul",
      cache: false,
      data: JSON.stringify(json_matkul),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          await popUpTimer("success", res.message);
        }
      },
    });
  });

  $("#btn-hapusKelompok").on("click", function () {
    let selectedData = [];
    $("input[name='cbKelompok']:checked").each(function () {
      let row = $(this).closest("tr"); // Dapatkan baris terkait
      let rowData = kelompok_tab.row(row).data(); // Ambil data baris dari DataTable

      if (rowData) {
        selectedData.push(rowData.kelompok_matkul);
      }
    });

    let filtered_data = json_matkul.filter(
      (kelompok) => !selectedData.includes(kelompok.kelompok_matkul)
    );

    $.ajax({
      type: "POST",
      url: "/update_kelompok_matkul",
      cache: false,
      data: JSON.stringify(filtered_data),
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status == false) popUpTimer("error", res.message);
        else {
          json_matkul = JSON.parse(JSON.stringify(filtered_data));
          kelompok_tab.clear().rows.add(json_matkul).draw(false);
          await popUpTimer("success", res.message);
        }
      },
    });
  });

  // Event ketika cbKelompokAll di-click
  $('input[name="cbKelompokAll"]').on("change", function () {
    let isChecked = $(this).prop("checked");
    $('input[name="cbKelompok"]').prop("checked", isChecked);

    document.getElementById("btn-hapusKelompok").style.display = isChecked
      ? "inline-block"
      : "none";
  });

  // Event ketika salah satu cbKelompok di-click
  $(document).on("change", 'input[name="cbKelompok"]', function () {
    let allChecked =
      $('input[name="cbKelompok"]').length ===
      $('input[name="cbKelompok"]:checked').length;
    $('input[name="cbKelompokAll"]').prop("checked", allChecked);

    let anyChecked = $('input[name="cbKelompok"]:checked').length > 0;
    document.getElementById("btn-hapusKelompok").style.display = anyChecked
      ? "inline-block"
      : "none";
  });

  let kelompok_tab = $("#table_kelompok").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    searching: false,
    info: false,
    data: json_matkul,
    columns: [
      {
        data: null,
        width: "10%",
        className: "text-center",
        render: function (data, type, row) {
          return `
              <input type="checkbox" name="cbKelompok"/>
            `;
        },
      },
      {
        data: "kelompok_matkul",
        width: "",
      },
    ],
  });
</script>
{% endblock %}
